/*
##RWD.css說明
設定全站所有響應式設計頁面的CSS樣式
*/
@import "compass/compass";
@import "_base";

@media screen and (max-width:1279px) {
    .header-limiter,
    .topper-limiter,
    .footer-limiter {
        width: $frame-min-width#{px};
        margin: 0 $outer-min-left#{px};
        padding: 0;
    }

    //#header & tooper
    .header,
    .topper { width: $min-width#{px}; }

    //header-quickMenu
    .header .quickMenu > ul > li {
        padding:0;
        width:85px;
    }

    //topper searchbar
    .topper .searchbar .input {
        width: 415px;
    }

    //[banner-adv]sixInOne settings
    .banner-adv {
        width: ($min-width - 220)#{px};
    }

    .boxArea .box {
        width: 33.25%;
    }


    //footer-use
    .footer > .footer-limiter {
        width: $frame-min-width#{px};
        margin: 0 $outer-min-left#{px};
    }
    .footer > .footer-limiter li {
        margin-right:15px;
    }


    //category banner
    .banner-title + .banner { width: 748px; }


    //search result rwd
    .searchListArea {
        width: ($frame-min-width - 221)#{px};
    }
    .searchAgainArea input[type="text"] {
        min-width:300px;
        width:300px;
    }

}
