/*
##RWD.css說明
設定全站所有響應式設計頁面的CSS樣式
*/
@import "compass/compass";
@import "_base";

@media screen and (max-width:1279px) {
    .header,
    .topper,
    .footer {
        &-limiter {
          width: $frame-min-width#{px};
          padding: 0 $outer-min-left#{px};
        }
    }

    .mainPadding {
      width: $frame-min-width#{px};
      padding:0 $outer-min-left#{px};

      &.clearPadding { width: $min-width#{px}; }
    }

    .subCategory {
      width: $frame-min-width - ($side-width + 15)#{px};
    }

    //header-settings

    .header .icon {
        margin-right: 10px;

        &.quickMenu {
            @include float(right);
            & > ul > li {
                width:85px;
                padding:0;
            }
        }

    }

    .topper .searchbar .input { width: 415px; }

    //[banner-adv]sixInOne settings
    .banner-adv {
        width: ($min-width - 220)#{px};
    }

    .boxArea .box {
        width: 33.25%;
    }


    //footer-use
    .footer > .footer-limiter li { margin-right:15px; }


    //category banner
    .banner-title + .banner { width: 748px; }


    //search result rwd
    .searchListArea {
        width: ($frame-min-width - 221)#{px};
    }
    .searchAgainArea input[type="text"] {
        min-width:300px;
        width:300px;
    }


    #subPageContainer .box {
        width: 199.8px;
        .pic { width: 189.4px; }

        .pic img {
            width: 100%;
            height: 100%;
        }
    }

}
