/*
##RWD.css說明
設定全站所有響應式設計頁面的CSS樣式
*/
@import "compass/compass";
@import "_base";

@media screen and (max-width:1279px) {

    @import "rwd/_header";
    @import "rwd/_main";
    @import "rwd/_category";

    //footer-use
    .footer > .footer-limiter li { margin-right:15px; }


    //search result rwd
    .searchListArea {
        width: ($frame-min-width - 221)#{px};
    }
    .searchAgainArea input[type="text"] {
        min-width:300px;
        width:300px;
    }


    #subPageContainer .box {
        width: 199.8px;
        .pic { width: 189.4px; }

        .pic img {
            width: 100%;
            height: 100%;
        }
    }

}
