/*#[Product-right]商品內頁-右側模組
##[product-Name & product-special]商品名稱及副標

    <div class="productRight">
        <div class="productContent">
            <h3 class="itemName" id="$pgId_4">Marshall Kilburn 攜帶型主動式喇叭-奶油白 [預購]</h3>
            <p class="special">這是商品副標這是商品副標這是商品副標這是商品副標</p>
        </div>
    </div>

*/

.productContent {
    h3.itemName {
        margin-top: 5px;
        @include fontSize($defFont + 6);
        line-height: 32px;
        color: #000;
    }
}

/*##[product-price]商品價格

    <div class="productRight">
        <div class="productContent">
            <p class="market">價格：<span class="small">NTD</span><span class="marketPrice">12,800</span></p>
            <p class="productPrice" id="$pgId_2">特價：<span class="small">NTD</span>10,500</p>
        </div>
    </div>

*/

.productContent {
    .small {
        margin-right: 5px;
        @include fontSize($defFont);
        font-weight: bold;
    }

    .marketPrice {
        margin-left: 3px;
        text-decoration: line-through;
    }

    .productPrice {
        @include fontSize($defFont + 8);
        color: $font-red-color;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/*##[product-intro]商品特性描述

    <div class="productRight">
        <div class="productContent">
            <div class="introduction">
                <ul>
                    <li>Marshall搖滾外觀，奶油白色荔枝紋皮革 </li>
                    <li>可以無線藍牙配對iPhone / Android等智慧型手機，另有RCA 端子、光纖、 3.5mm 音源孔 </li>
                    <li>可控制聲量大小，重音和高音的按鈕</li>
                </ul>
            </div>
        </div>
    </div>

*/

.productContent .introduction ul {
    list-style: square;
    list-style-position: inside;
}

.productContent .introduction li {
    margin-left: 5px;

    @include fontSize($defFont - 1);
    line-height: 25px;

}


/*##[product-nums] 商品數量選擇

    <div class="productRight">
        <div class="productContent">
            <p class="Modified">
                <span>數量：</span>
                <input type="hidden" id="item_qty" value="1">
                <span class="less notless"></span><span class="quantity" id="item_buyqty">1</span><span class="add"></span>
                <span class="red" id="sold_out" style="">商品已售完</span>
                <br style="clear:both;">
            </p>
        </div>
    </div>

*/

.productContent .Modified span {
    @include float(left);
    display: block;
    height: 23px;

    text-align: center;
    line-height: 23px;

    &:first-child, &.red { line-height: 25px;}

    &.red { color: $font-red-color; }

    &.less,
    &.add {
        width: 23px;
        border: 1px solid $gray-shade-d;
    }

    &.less { background: url(#{$img-path}Icon/less.jpg) no-repeat center; }
    &.notless { background: url(#{$img-path}Icon/NotLess.png) no-repeat center; }
    &.add {
        margin-right: 5px;
        background: url(#{$img-path}Icon/add.jpg) no-repeat center;
    }
    &.notadd { background: url(#{$img-path}Icon/NotAdd.png) no-repeat center; }

    &.quantity {
        width: 40px;
        border-width: 1px 0;
        border-style: solid;
        border-color: $gray-shade-d;
    }
}


/*#[product-paymentWay] 付款方式
    <div class="payType">
        付款方式：信用卡一次付清 / 分期
        <!-- 分期說明方框 -->
        <div class="InsExp">
            <span class="blue" style="margin-left:3px;">(說明)</span>
            <div class="Installment">
                <table class="Instable">
                    <tbody>
                        <tr class="Instr">
                            <th class="Insth">信用卡<br>分期　</th>
                            <th class="Insth" style="width:67px;">利率</th>
                            <th class="Insth" style="width:97px;">
                                <img style="float:right;margin-top:3px;margin-left:-9px;" src="img/Icon/ItemBank.jpg">僅限台灣<br>地區發行
                            </th>
                        </tr>

                        <tr class="Instr">
                            <td class="Instd">3期</td>
                            <td class="Instd">0利率</td>
                            <td class="Instd">
                                <div class="banks"><span class="blue">21家</span>
                                    <!--↓↓↓↓↓↓銀行顯示方框↓↓↓↓↓-->
                                    <div class="BankName" style="display:none;">
                                        <span>分期限以下銀行：</span>
                                        <p>富邦、國泰世華、台新、合庫、一銀、彰銀、永豐、遠東、兆豐、新光、花旗、台灣企銀、大眾銀行、匯豐銀行、玉山、凱基、台中商銀、渣打、日盛、澳盛、華南</p>
                                    </div><!--↑↑↑↑↑↑↑銀行顯示方框↑↑↑↑↑↑↑-->
                                </div>
                            </td>
                        </tr>

                        <tr class="Instr">
                            <td class="Instd">6期</td>
                            <td class="Instd">0利率</td>
                            <td class="Instd">
                                <div class="banks">
                                    <span class="blue">21家</span>
                                    <!--↓↓↓↓↓↓銀行顯示方框↓↓↓↓↓-->
                                    <div class="BankName" style="display:none;">
                                        <span>分期限以下銀行：</span>
                                        <p>富邦、國泰世華、台新、合庫、一銀、彰銀、永豐、遠東、兆豐、新光、花旗、台灣企銀、大眾銀行、匯豐銀行、玉山、凱基、台中商銀、渣打、日盛、澳盛、華南</p>
                                    </div>
                                    <!--↑↑↑↑↑↑↑銀行顯示方框↑↑↑↑↑↑↑-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span>1. 請選擇適用的銀行卡別來做信用卡分期。<br>2. 除不盡餘數於第一期收取。<br>3. 可接受VISA Master JCB 信用卡。<br>4. 實際分期金額將依各發卡銀行規定略有調整。</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!-- end of 分期說明方框 -->
    / 網路ATM / 實體ATM / 歐付寶付款
    </div>

*/
