//siteMap
.siteMap {
    margin-top: 30px;
    width:100%;
    height:auto;

	@include pie-clearfix;

	& > .mapTitle {
		position: relative;
		display: inline-block;
		height:35px;
		padding-left: 40px;

        @include fontSize($defFont + 8);
		line-height: 35px;
		letter-spacing: 2px;

    }

	.mapTitle:before {
		position: absolute;
		top: 2px;
		left: 0;
		display: inline-block;
		content: "";
		width: 35px;
		height: 35px;
		overflow: hidden;
		background-image: url(#{$img-path}Icon/sitemapIcons.png);
		background-repeat: no-repeat;
	}

}

.siteMap ul > li {
    margin-top: 20px;
	height: auto;

	&, & > h3.mapSubTitle {
		display:block;
		width: 100%;
	}

	h3.mapSubTitle {
		margin-bottom: 10px;
		height: 30px;
		border-bottom: 1px solid #043041;

		@include fontSize($defFont + 2);
		line-height: 30px;
		letter-spacing: 1px;
		color: #043041;
	}

	& > .mapContent {
		width: 100%;
		height: auto;

		@include pie-clearfix;
	}

	& > .mapContent a {
		@include float(left);
		margin-bottom:5px;
		display: block;
		height: 20px;
		padding: 0 3px;
		border-right: 1px solid #666;

		@include fontSize($defFont - 1);
		color:#666;
		line-height: 20px;
		letter-spacing: 1px;
	}

}

//sitemap loop color
@each $cate in $siteMap-list {
	$i: index( $siteMap-list, $cate);
	.map_#{$cate} > .mapTitle {
		color: nth($color-light-list, $i);
		&:before {
			background-position: 0 (-35 * ($i - 1))#{px};
		}
	}
}
