/*#[account-template] 我的帳戶共通樣式

    <div class="mainPadding">
        <div class="mainMenuBox" style="margin-left: 0;">
                <div class="menudropDown">全館分類</div>
                <div id="mainMenu" class="mainMenu pullDown">
                    <ul class="pullDownList">
                            <li>
                                <a href="javascript:void(0);"><i class="storeFashion"></i>國際名品</a>
                                <span></span>
                            </li>
                            <li class="">
                                <a href="javascript:void(0);"><i class="storeDesign"></i>設計風尚</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeHealth"></i>運動健身</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeOutdoor"></i>戶外休旅</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="store3C"></i>數位3C</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeComputer"></i>電腦週邊</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeappliance"></i>生活家電</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeLiving"></i>居家親子</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeFoods"></i>好食市集</a>
                                <span></span>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="storeNeweggUSA"></i>美國新蛋直購</a>
                                <span></span>
                            </li>
                    </ul>
                </div>
        </div>
        <div class="pathLink">
            <a href="/">首頁</a> &gt;
            <a href="/MyAccount">我的帳戶</a> &gt;
            <span>最愛清單</span>
        </div>
        <div>
            <div class="TopExplanationArea">
                <p class="Boldtext">
                    您好，<br>
                    這是您的最愛清單，您可從下方管理功能選單中查看屬於您個人的商品存放紀錄，或是將商品加入至購物車。
                </p>
            </div>
            <div class="AccountArea">
                <div class="TabArea">
                    <ul>
                        <li class="Tab BorderTab" id="WishList"><a href="javascript:void(0);"><i class="icon WishList"></i>我的最愛清單</a></li>
                        <li class="Tab BorderTab" id="Coupons"><a href="javascript:void(0);"><i class="icon Coupons"></i>我的折價券</a></li>
                        <li class="Tab BorderTab" id="Order"><a href="javascript:void(0);"><i class="icon Order"></i>我的訂單</a></li>
                        <li class="Tab BorderTab" id="Account"><a href="javascript:void(0);"><i class="icon Account"></i>帳戶管理<i class="icon Up"></i></a>
                            <ul class="SubMenu">
                                <li><a href="/MyAccount/EditPersonInfo">個人資料修改</a></li>
                                <li><a href="/MyAccount/EditPassword">密碼修改</a></li>
                                <li><a href="#" onclick="GetAskDetails(this);">問答中心</a></li>
                                <li><a href="/MyAccount/EditAccount">帳號修改</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

*/

.TopExplanationArea,
.AccountArea,
.TabArea,
.TabArea ~ div {
    position: relative;
    width: $frame-min-width#{px};
    margin:0 auto;
    @include box-sizing(border-box);
}

.TopExplanationArea {
    height: 130px;
    background: url(#{$img-path}ElementLibrary/ExpEgg.png) bottom right no-repeat;
    margin-top: 40px;

    & > p {
        position: absolute;
        top:50%;
        margin-top: -35px;
        display: block;
        width: 100%;
        height: auto;
        padding: $gutter#{px} 0;

        @include fontSize($defFont + 1);
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 1px;
    }
}

//TabArea
.TabArea {
    height: auto;
    border: 1px solid $gray-shade-l;

    ul {
        width: 100%;
        height: 50px;
        @include pie-clearfix;
    }

    ul > li {
        @include float(left);
        position: relative;
        display: block;
        width: 25%;
        height: 100%;
        border-left: 1px solid $gray-shade-l;
        @include box-sizing(border-box);
        cursor: pointer;

        text-align: center;

        &:first-child { border-left:0; }

        //hover effects
        &:hover, &.TabSelected {
           &, & > a { @include transition(100); }
           & > a { color: #fff; }

           background: $orange;
        }
    }

    ul > li a {
        position: relative;
        display: inline-block;
        height: 100%;
        border-bottom: 0;

        @include fontSize($defFont + 3);
        text-align: center;
        line-height: 50px;
        color: $gray-shade-m;
    }

    i.icon {
        position: absolute;
        left: -43px;
        top: 5px;
        display: block;
        width: 40px;
        height: 40px;
        overflow: hidden;
        background: url(#{$img-path}Icon/SeriveIcon.png) no-repeat;

        &.ShoppingCash { background-position:0 0; }
        &.Coupons { background-position:0px -40px; }
        &.Order { background-position:0px -80px; }
        &.WishList { background-position:0px -120px; }
        &.Account { background-position:0px -160px; }
        &.ActivityList { background-position:0px -200px; }
        &.NameList { background-position:0px -240px; }

        &.Up {
            left:auto;
            right: -43px;
            background: url(#{$img-path}Icon/Open.png) center no-repeat;
        }
    }

    //icon hover effects
    ul > li:hover,
    .TabSelected {
        i.ShoppingCash { background-position: -40px 0; }
        i.Coupons { background-position: -40px -40px; }
        i.Order { background-position: -40px -80px; }
        i.WishList { background-position: -40px -120px; }
        i.Account { background-position: -40px -160px; }
        i.ActivityList { background-position: -40px -200px; }
        i.NameList { background-position: -40px -240px; }
    }
}

.TabArea ul>li .SubMenu {
    position: relative;
    display: none;
    width: 100%;
    height: auto;
    border: 1px solid $orange;

    @include box-sizing(border-box);

    & > li {
        display: block;
        width: 100%;
        border:0;
    }

    & > li a {
        display: block;
        width: 100%;
        height: 35px;

        @include fontSize($defFont);
        color:#000;
        line-height:35px;

        &,
        &:hover { background: #fff; }
    }
}


/*##[WishList]我的最愛清單模組

    <div id="WishCartList">
        <div class="TabArea OrderBy grayBorder" name="grayBorderName" data-typenamevalue="追蹤清單購物車" data-typeidvalue="0">
            <ul>
                <li class="Tab SmallBorderTab " id="PriceLow" name="TabAreaOrderByName" data-orderbyvalue="LowPrice"><i class="icon OrderbyIcaon PriceLow"></i>價格低到高</li>
                <li class="Tab SmallBorderTab " id="PriceHigh" name="TabAreaOrderByName" data-orderbyvalue="HighPrice"><i class="icon OrderbyIcaon PriceHigh"></i>價格高到低</li>
                <li class="Tab SmallBorderTab " id="DateFar" name="TabAreaOrderByName" data-orderbyvalue="CreatDate"><i class="icon OrderbyIcaon DateFar"></i>放入日期遠到近</li>
                <li class="Tab SmallBorderTab SmallBorderTabSelected" id="DateNear" name="TabAreaOrderByName" data-orderbyvalue="DescCreatDate"><i class="icon OrderbyIcaon DateNear"></i>放入日期近到遠</li>
            </ul>
        </div>

        <table class="table grayBorder darkGray">
            <tbody><tr class="tr grayBorder GrayBgColorth">
                <th class="th Boldtext" style="width:100px;"><input type="checkbox" name="" value="" class="checkbox SelectAll"><span class="Select TextAlign-left">全選<br>取消全選</span></th>
                <th class="th Boldtext" style="width:500px;">商品名稱/折扣與贈品</th>
                <th class="th Boldtext">加入日期</th>
                <th class="th Boldtext">商品價格</th>
                <th class="th Boldtext" style="width:140px;">加入購物車</th>
            </tr>

            <tr class="tr">
                <td class="td"><input type="checkbox" name="" value="" class="checkbox SelectItem" data-itemvalue="445416"></td>
                <td class="td">
                	<div class="PicArtBox">
                    	<a href="javascript:void(0);"><div class="pic ItemListPic"><img src="http://placehold.it/70x70"></div></a>
                        <a href="javascript:void(0);"><h3 class="Boldtext">這是商品名稱這是商品名稱這是商品名稱這是商品名稱這是商品名稱這是商品名稱</h3></a>                                                                                                                                                          </h3></a>
                        <div class="SpecialDeal gray">
        	    			        <p class="SpecialDeal"><span class="SpecialDeal cartDiscount bOcW borderRound ">這是促銷文案這是促銷文案這是促銷文案這是促銷文案這是促銷文案</span></p>
                        </div>
                    </div>
                </td>
                <td class="td grayBorder"><p class="Boldtext">2015/09/09 17:12</p></td>
                <td class="td grayBorder"><p class="price Boldtext">1,150</p></td>
                <td class="td grayBorder"><i class="icon PutInCart AddtoCart disabled NoStock" data-itemvalue="445416" data-disabled="0"></i></td>
            </tr>
        </tbody></table>

        <ul class="OneLine gray">
            <li style="width:30%;text-align:left;"><p class="Delete CallDelete"><img src="img/Icon/DeleteImg.png">刪除</p></li>
            <li style="width:70%"><p class="TextAlign-right">您總共收藏<span>1</span>項商品</p></li>
        </ul>

        <div class="PageArea" id="PageArea" data-pagevalue="1" data-totalpagevalue="1">
            <a class="StopGoToPage" style="color:#EB8A51" selected="" data-pagevalue="1">1</a>
        </div>
    </div>

*/

#WishCartList {
    width:$frame-min-width#{px};
    height: auto;
    margin: 0 auto;
}

#WishCartList > .TabArea {
    position: relative;
    border-width: 0 1px 1px 1px;
    height: 40px;

    ul {
        position: absolute;
        top: 7.5px;
        right: 5px;
        display: inline-block;
        width: auto;
        height:25px;
        @include pie-clearfix;
    }

    ul li {
        position: relative;
        display: inline-block;
        width: auto;
        height: 100%;
        padding:0 20px 0 50px;
        border-color: $gray-shade-d;
        background: #fff;

        @include fontSize($defFont + 3);
        line-height: 25px;
        color: $gray-shade-d;

        & > i.icon {
            position: absolute;
            top:0;
            left:20px;
            display: block;
            width: 25px;
            height: 25px;
            overflow: hidden;

            background: url(#{$img-path}Icon/OrderbyIcon.png) no-repeat;
            &.DateNear { background-position: 0 0; }
            &.DateFar { background-position: 0 -25px; }
            &.PriceLow { background-position: 0 -75px; }
            &.PriceHigh { background-position: 0 -50px; }
        }
    }

    //hover effects
    ul li:hover {
        background: #fff;
        color: $font-organe-color;

        & > i.icon {
            &.DateNear { background-position: -25px 0; }
            &.DateFar { background-position: -25px -25px; }
            &.PriceLow { background-position: -25px -75px; }
            &.PriceHigh { background-position: -25px -50px; }
        }
    }
}

#WishCartList table {
    width: 100%;
    height: auto;

    tr td {
        height: 80px;
        border: 1px solid $gray-shade-l;

        text-align: center;

        &:first-child,
        & > .price {
            height: auto;

            @include fontSize($defFont + 2);
            text-align: center;
            font-weight: bold;
            color: $gray-shade-d;
        }

        &:first-child+td+td > p {
            @include fontSize($defFont - 3);
        }
    }

    tr td,
    tr th { position: relative; }

    tr:first-child {
        background: $gray-shade-lw;
        border-width: 0 1px;
        border-style: solid;
        border-color: $gray-shade-l;

        th {
            height: 50px;

            @include fontSize($defFont - 1);
            color:$gray-shade-d;
            text-align: center;
            line-height: 50px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        th:first-child input {
            position: absolute;
            top: 15px;
            left: 10px;
        }

        th:first-child span {
            position: absolute;
            display:inline-block;
            top: 12px;
            right: 5px;
            height:26px;

            @include fontSize($defFont - 4);
            line-height:13px;
            text-align: left;
            letter-spacing: 0.5px;
        }
    }

    .PutInCart {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -17px 0 0 -17px;
        display: block;
        width: 34px;
        height: 34px;
        overflow: hidden;
        cursor: pointer;
        background: url(#{$img-path}Icon/PutInCart.png) no-repeat;

        &.NoStock {
            background-position: 0 -34px;
            cursor: auto;
        }
    }
}



#WishCartList {
    .PicArtBox {
        width: 98%;
        height: 70px;
        overflow: hidden;
        margin: 5px 1%;
        @include pie-clearfix;

        & > a {
            @include float(left);
            display: block;
        }
    }

    .PicArtBox > a:first-child {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }

    .PicArtBox > a:first-child + a {
        width: 82%;
        border-bottom: 0;

        text-align: left;
    }

    .PicArtBox > a:first-child + a h3 {
        height:40px;
        overflow: hidden;

        font-weight: bold;
        line-height: 20px;
    }

    .PicArtBox > a ~ div {
        @include float(left);
        width: 82%;
        height: 20px;
        overflow: hidden;
        margin-top:5px;

        @include fontSize($defFont);
        line-height: 20px;
        text-align: left;
    }

    .OneLine {
        display: block;
        width: 100%;
        height: 27px;
        margin: 45px 0;
        @include pie-clearfix;

        & > li {
            display: block;
            height: 100%;
            line-height: 27px;
            letter-spacing: 0.5px;
        }

        & > li:first-child {
            @include float(left);
            p.Delete { cursor: pointer; }
            p.Delete > img { margin-right: 5px; }
        }

        & > li:first-child + li {
                @include float(right);
                position: relative;
        }

        & > li:first-child + li p {
            position: absolute;
            top:0;
            right:0;
        }
    }

}
