/*##[section3]館首頁-商品櫥窗模組

    <section class="section3" id="item0" shopwindowid="66">
        <a name="shop0"></a>
        <div class="section-bg section-bg-img1"></div>
        <div class="clear"></div>

        <div class="group2">
                <div class="box11 catcolorright1">
                    <div class="caption4">日本京都 - 開化堂 - 經典茶筒 - 紅銅平型200g</div>
                    <div class="price">$4,800</div>
                </div>
                <div class="box15">
                    <div class="title catcolortxt1">手感京都</div>
                        <div class="box-category3 catcolorbg1">
                            <ul>
                                <li groupid="323"><a href="/Category?CategoryID=1237">開化堂</a></li>
                                <li groupid="324"><a href="/Category?CategoryID=1238">金網</a></li>
                                <li groupid="325"><a href="/Category?CategoryID=1240">公長齋</a></li>
                                <li groupid="326"><a href="/Category?CategoryID=1239">朝日燒</a></li>
                                <li groupid="327"><a href="/Category?CategoryID=1195">陸寶</a></li>
                                <li groupid="453"><a href="/Category?CategoryID=1467">Wantz 享瓷</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        <div class="group3">
            <div class="box12 img10 pic" shopitemid="461" style="text-align: center; overflow: hidden;">
                <a href="item?itemid=443281">
                    <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3281_1_300.jpg?1440745339121" class="itemImgCen" style="margin-top: 0px;"></a>
            </div>
                <div class="box13 pic catcolorbottom1" shopitemid="462">
                        <a href="/Category?CategoryID=1238">
                            <img src="https://ssl-images.newegg.com.tw/image/sorting pages/design/art.jpg">
                        </a>
                </div>
                        <div class="carousel-logo3-bg carousel-logo3-bg-img1"></div>
                <div class="box16 catcolortop1" shopitemid="463">
                    <div class="box12 img10 pic" style="text-align: center; overflow: hidden;">
                        <a href="item?itemid=443204">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3204_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 0px;"></a>
                    </div>
                    <div class="caption">日本京都 - 朝日燒 - OeO 單色 Sakura 茶杯 - ( 寬 / 櫻花紅 )</div>
                    <div class="price">$2,600</div>
                </div>
                <div class="box16 catcolortop1" shopitemid="464">
                    <div class="divider catcolorleft1"></div>
                    <div class="box12 img10 pic" style="text-align: center; overflow: hidden;">
                        <a href="item?itemid=443265">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3265_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 0px;"></a>
                    </div>
                    <div class="caption">日本京都 - 金網つじ - 編織茶勺濾網 - 紅銅木柄</div>
                    <div class="price">$3,400</div>
                </div>

        </div>
        <div class="carousel4 catcolorleft1">
            <div class="pagination">
                <div class="more"><a class="catcolortxt1" href="#nogo">更多商品</a></div>
                <ul>
                    <li><a href="#nogo" class="catcolorbg1">1</a></li>
                    <li><a href="#nogo">2</a></li>
                    <li><a href="#nogo">3</a></li>
                </ul>
            </div>
            <div class="listcontent">
                <div>
                <div class="box14" shopitemid="465">
                    <a href="item?itemid=443237" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3237_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 0px;">
                        </div>
                        <div class="caption">日本京都 - 朝日燒 - OeO 雙色 Original 茶杯 - ( 寬 / 藍綠 )</div>
                        <div class="price">$2,600</div>
                    </a>
                </div>
                <div class="divider catcolorbottom1"></div>
                <div class="box14" shopitemid="466">
                    <a href="item?itemid=443233" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3233_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 0px;">
                        </div>
                        <div class="caption">日本京都 - 公長齋小菅 - MINOTAKE 飯匙 - ( 原色 / 一組二入 )</div>
                        <div class="price">$1,620</div>
                    </a>
                </div>
                <div class="divider catcolorbottom1"></div>
                <div class="box14" shopitemid="467">
                    <a href="item?itemid=443212" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3212_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 0px;">
                        </div>
                        <div class="caption">日本京都 - 公長齋小菅 - KUSUDAMA 球型花器 - ( L / 原色 )</div>
                        <div class="price">$3,250</div>
                    </a>
                </div>
                </div>
                <div style="display: none;">
                <div class="box14" shopitemid="657">
                    <a href="item?itemid=441278" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/1278_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 80px;">
                        </div>
                        <div class="caption">【陸寶】樂享風尚陶鍋 -2.2L(2~3人適用)</div>
                        <div class="price">$2,480</div>
                    </a>
                </div>
                <div class="divider catcolorbottom1"></div>
                <div class="box14" shopitemid="658">
                    <a href="item?itemid=441294" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/1294_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 80px;">
                        </div>
                        <div class="caption">【陸寶】刺繡娘子隨身杯(颱風天特企)</div>
                        <div class="price">$2,580</div>
                    </a>
                </div>
                <div class="divider catcolorbottom1"></div>
                <div class="box14" shopitemid="659">
                    <a href="item?itemid=441268" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/1268_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 80px;">
                        </div>
                        <div class="caption">【陸寶】汝窯煙雨紫銅茶組(9件式)</div>
                        <div class="price">$14,980</div>
                    </a>
                </div>
                </div>
                <div style="display: none;">
                <div class="box14" shopitemid="660">
                    <a href="item?itemid=441295" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/1295_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 80px;">
                        </div>
                        <div class="caption">【陸寶】竹節高升隨身杯-天青(颱風天特企)</div>
                        <div class="price">$2,280</div>
                    </a>
                </div>
                <div class="divider catcolorbottom1"></div>
                <div class="box14" shopitemid="661">
                    <a href="item?itemid=443247" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3247_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 80px;">
                        </div>
                        <div class="caption">日本京都 - 公長齋小菅 - 扇形竹編杯墊組</div>
                        <div class="price">$1,380</div>
                    </a>
                </div>
                <div class="divider catcolorbottom1"></div>
                <div class="box14" shopitemid="662">
                    <a href="item?itemid=443204" style="text-decoration: none;">
                        <div class="img11 pic" style="text-align: center; overflow: hidden;">
                            <img src="https://ssl-images.newegg.com.tw/pic/item/0044/3204_1_300.jpg?1440745339122" class="itemImgCen" style="margin-top: 80px;">
                        </div>
                        <div class="caption">日本京都 - 朝日燒 - OeO 單色 Sakura 茶杯 - ( 寬 / 櫻花紅 )</div>
                        <div class="price">$2,600</div>
                    </a>
                </div>
                </div>
            </div>
        </div>


        <div class="section-divider"></div>
    </section>

*/

section.section3 {
    @include float(left);
    @include pie-clearfix;
    position: relative;
    left:50%;
    margin-left: -500px;
    width:1000px;
    height: auto;

    .group,
    .group2,
    .group3 {
        @include float(left);
    }

    .group {
    	width: 414px;
    	margin-left: 93px;
    }

    .group2 {
        margin-top:65px;
        width: 275px;
    }

    .group3 { width: 502px; }


    .section-bg {
        margin-bottom:-65px;
    }
}

//group2
.group2 {
    .box11 {
        @include float(left);
        width: 274px;
        height: 80px;
        overflow: hidden;
        border-right: thin solid;

        .caption4,
        .price {
            @include float(right);
            width: 160px;
            overflow: hidden;
            margin-right:5px;
            padding:0;

            @include fontSize($defFont);
            line-height: 18px;
            text-align: right;
        }

        .caption4 {
            height: 54px;


            color: #666;

            white-space: pre-line;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .price {
            margin-top: 10px;
            height: 22px;

            color: #C94141;
        }
    }
}


//caption
.caption {
	height: 12px;
	padding: 5px;
	font-size: 16px;
	white-space: pre-line;
	text-align: left;
	color: #666;
	line-height: 18px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.caption2 {
	height: 35px;
	padding: 5px;
	font-size: 16px;
	white-space: pre-line;
	text-align: left;
	color: #666;
	line-height: 20px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.caption3 {
	height: 54px;
	padding:0 5px;
	font-size: 14px;
	white-space: pre-line;
	text-align: left;
	color: #666;
	line-height: 18px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.caption4 {
	height: 36px;
	padding: 5px;
	font-size: 14px;
	white-space: pre-line;
	text-align: right;
	color: #666;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.caption5 {
	height: 192px;
	padding: 5px;
	font-size: 16px;
	white-space: pre-line;
	text-align: right;
	color: #666;
	line-height: 18px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.caption6 {
    width: inherit;
    height: inherit;
    padding: 5px;
    font-size: 16px;
    white-space: pre-line;
    text-align: left;
	line-height: 18px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


//box
.box1 {
    @include float(left);
    width: 194px;
    height: 383px;
}


.box15 {
    @include float(left);
    width: 201px;
    height: auto;
    margin-left: 50px;

    .title {
        @include float(left);
        width: 100px;
        height: auto;
        margin-left:50px;
        margin-bottom: 10px;

        @include fontSize($defFont + 32);
        text-align: center;

    }
}
