/*#[banner-title]館首頁-館分類名稱

    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi1"></i>設計風尚</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi2"></i>國際名品</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi3"></i>美妝保養</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi4"></i>保健養生</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi5"></i>樂活時尚</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi6"></i>運動健身</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi7"></i>戶外休旅</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi8"></i>親子寵物</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi9"></i>居家用品</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi10"></i>生活家電</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi11"></i>數位3C</div>
    <div class="banner-title" style="background:#ccc; margin-top:5px;"><i class="listi12"></i>電腦週邊</div>

*/

.banner-title {
    @include float(left);
    position: relative;
    display: block;
    width: 850px;
    height: 42px;
    padding-left: 50px;


    @include fontSize($defFont + 8);
    color: #fff;
    line-height: 42px;
}


/*#[category-banner]館首頁-輪播廣告

    <div class="banner-title"><i class="listi1"></i>國際名品</div>
    <div class="banner">
      <div class="banner-bg2 banner-bg2-img1"></div>
      <a href="javascript:void(0);">
          <div class="banner-img" style="background:url('http://placehold.it/900x400')">
          </div>
      </a>
      <div class="tab">
          <ul>
              <li><a href="javascript:void(0)" banner-src="" banner-url="">一二三四五六<div class="arrow"></div></a></li>
              <li><a href="javascript:void(0)" banner-src="" banner-url="">一二三四五六<div class="arrow"></div></a></li>
              <li><a href="javascript:void(0)" banner-src="" banner-url="">國國國國國國<div class="arrow"></div></a></li>
              <li><a href="javascript:void(0)" banner-src="" banner-url="">國國國國國國<div class="arrow"></div></a></li>
              <li><a href="javascript:void(0)" banner-src="" banner-url="">國國國國國國<div class="arrow"></div></a></li>
          </ul>
      </div>

      <div class="storeUSBG red"></div><div class="storeUSBG blue"></div>
    </div>

*/

.banner-title + .banner {
  width: 900px;
  height: 400px;
  background:#ccc;

  .banner-bg2 {
    position: absolute;
    z-index: 1;
    top: 150px;
    right: -120px;
    width: 172px;
    height: 399px;
    background-repeat: no-repeat;
    background-position: center;
  }


  & > a {
    width: 100%;
    height: 100%;
  }

  & > a > .banner-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  & > .tab {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width:100%;
      margin: 0;
  }

  & > .tab li {
      border-left: 0;
      width: 20%;
      .arrow { display: none; }
  }

  & > .tab li a {
       background-color: rgba(0,0,0,0.5);
      &:hover { background-color: #000; }
      &:hover > .arrow {
          display: block;
          border-color: transparent transparent #000 transparent;
      }
  }
}




/*#[section3]館首頁-商品櫥窗模組-無LOGO版本

    <section class="section3">
        <a id="shop0"></a>
        <div class="section-bg section-bg-img1"></div>
        <div class="clear"></div>

        <div class="group2">
            <div class="box11 catcolorright1  catcolortop1 catcolorleft1">
                 <div class="box12 img10 pic">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                    </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>
            <div class="box11 catcolorright1 catcolortop1">
                 <div class="box12 img10 pic">
                     <a href="javascript:void(0);">
                         <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                     </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>
        </div>
        <div class="group3">
            <div class="box15 catcolorbg1">
                <div class="title catcolortxt1">館別名稱</div>
                <div class="box-category3 catcolorbg1">
                    <ul>
                        <li><a href="javascript:void(0);">品牌名稱1</a></li>
                        <li><a href="javascript:void(0);">品牌名稱2</a></li>
                        <li><a href="javascript:void(0);">品牌名稱3</a></li>
                        <li><a href="javascript:void(0);">品牌名稱4</a></li>
                        <li><a href="javascript:void(0);">品牌名稱5</a></li>
                        <li><a href="javascript:void(0);">品牌名稱6</a></li>
                    </ul>
                </div>
            </div>

            <div class="box13 pic catcolorbottom1 catcolortop1">
                <a href="javascript:void(0);">
                    <img src="http://placehold.it/346x320">
                </a>
            </div>

            <div class="box16 catcolortop1 catcolorbottom1" shopitemid="4549">
                <div class="box12 img10 pic">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                    </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>

            <div class="box16 catcolortop1 catcolorbottom1" shopitemid="4550">
                <div class="divider catcolorleft1"></div>
                <div class="box12 img10 pic">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                    </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>
        </div>

        <div class="carousel4 catcolorleft1">
            <div class="pagination">
                <div class="more"><a class="catcolortxt1" href="#nogo">更多商品</a></div>
                <ul>
                    <li><a href="#nogo" class="catcolorbg1">1</a></li>
                    <li><a href="#nogo">2</a></li>
                    <li><a href="#nogo">3</a></li>
                </ul>
            </div>

            <div class="listcontent catcolortop1 catcolorbottom1 catcolorright1">
                <div>
                    <div class="box14">
                        <a href="javascript:void(0);" style="text-decoration: none;">
                            <div class="img11 pic">
                                <img src="http://placehold.it/135x135?text=商品圖" class="itemImgCen">
                            </div>
                            <div class="caption">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                            <div class="price">$99,999</div>
                        </a>
                    </div>
                    <div class="divider catcolorbottom1"></div>
                    <div class="box14">
                        <a href="javascript:void(0);" style="text-decoration: none;">
                            <div class="img11 pic">
                                <img src="http://placehold.it/135x135?text=商品圖" class="itemImgCen">
                            </div>
                            <div class="caption">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                            <div class="price">$99,999</div>
                        </a>
                    </div>
                    <div class="divider catcolorbottom1"></div>
                    <div class="box14">
                        <a href="javascript:void(0);" style="text-decoration: none;">
                            <div class="img11 pic">
                                <img src="http://placehold.it/135x135?text=商品圖" class="itemImgCen">
                            </div>
                            <div class="caption">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                            <div class="price">$99,999</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-divider"></div>
    </section>


*/

//group2
.group2 .box11 {
    @include float(left);
    width: 274px;
    height: 80px;
    overflow: hidden;
    border-width: 0 1px 0 0;
    border-style: solid;

    .caption4,
    .price {
        @include float(right);
        width: 160px;
        overflow: hidden;
        margin-right:5px;
        padding:0;

        @include fontSize($defFont);
        line-height: 18px;
        text-align: right;
    }

    .caption4 {
        height: 54px;
        color: $font-color;

        white-space: pre-line;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .price {
        margin-top: 10px;
        height: 22px;

        color: $font-red-color;
    }
}

//group3
.group3 .box12 {
    position: relative;
    z-index:2;
    top:0;
}

.group3 .box16 {
    position: relative;
    width: 222px;
    overflow:hidden;
    @include pie-clearfix;

    & > .divider {
        position: absolute;
        z-index:1;
        top:0;
        right:-1px;
        height: 100%;
    }

    & + .box16 { width: 223px; }
}

//carousel3 has not show


.carousel-logo3-bg {
    @include float(left);
    position: relative;
    z-index: 0;
    display:block;
	width: 100%;
	height: 40px;
	background-repeat: no-repeat;
    background-position: 222px 0;
}

.section-bg {
    display:block;
	width: 264px;
	height: 125px;
	background-repeat: no-repeat;

    @for $i from 1 through 9 {
        .section-bg-img#{$i} {
            background-image: url(#{$img-path}section-bg-#{$i}.png);
        }
    }
}

.carousel4 {
    @include float(left);
    width: 221px;
    height: 708px;
    border-left: 3px solid;
    @include box-sizing(border-box);

    .divider {
        @include float(left);
        width: 201px;
        height: 1px;
        border-width: 0 0 1px 0;
        border-style: solid;
    }

    .pagination {
    	//@include float(right);
    	//margin-top: 300px;
    	position: absolute;
        display: inline-block;
        top:50%;
        right:0;
        margin-top: -80px;
        width: 20px;
        height: 160px;
        overflow: hidden;

    }

    .pagination ul {
        @include float(right);
        margin-bottom: 16px;
    }

    .pagination ul li { margin-bottom: 16px; }
    .pagination ul li a {
        @include float(left);
    	margin-top: 10px;
        display: block;
        width: 20px;
        height: 20px;
        background-color: #999;

        color: #fff;
    	text-align: center;
    	line-height: 20px;
    	text-decoration: none;
        border-bottom:0;

        &.selected { background-color: nth($color-list, 5); }
    }

    .pagination .more a {
        @include float(right);
    	width: 20px;
        border:0;

        text-align: center;
        // color: $font-color;

    }

}


//box
.box1 {
    @include float(left);
    width: 194px;
    height: 383px;
}

.box14 > a {
    display: block;
    margin: 0 auto;
    width: 160px;
    height:auto;
    border-bottom: 0;
}

.box15 {
    @include float(left);
    width: 201px;
    height: auto;
    margin-top:25px;
    margin-left: 50px;

    .title {
        @include float(left);
        width: 100px;
        height: auto;
        margin-left:50px;
        margin-bottom: 10px;

        @include fontSize($defFont + 32);
        text-align: center;

    }
}

.box12 a {

    display: block;
    width: 100%;
    height: 100%;
}

.box14,
.box16 {
    .caption {
        width: 94%;
        margin: 5px 3%;
        padding:0;
        height: 36px;
    }
}

//layout settings
.section3 {
    @include float(left);
    @include pie-clearfix;
    position: relative;
    left:50%;
    width:1000px;
    height: auto;
    margin:40px 0px 0px -500px;
    padding-bottom: 100px;

    .group,
    .group2,
    .group3 {
        @include float(left);
		overflow: hidden;
    }

    .group {
    	width: 414px;
    	margin-left: 93px;
    }

    .group2,
	.group3 {
		height: 640px;
	}

    .group2 { width: 275px; }

    .group3 {
        width: 491px;
    	@include pie-clearfix;
    }

    .section-bg {
        display: none;
        margin-bottom:-65px;
    }
}



.section3 {
    .group2 .box11,
	.group3 .box16 {
		.box12,
        .caption,
		.caption4,
		.price {
			position: relative;
			float:none;
            display: block;
			width: 222px;
            margin: 5px auto;
		}

        .caption,
        .caption4 {
            height: 54px;

            @include fontSize($defFont - 1);
			text-align: left;

		}

        .box12 a {
            display: block;
            width: 222px;
            height: 222px;
            overflow: hidden;
            border-bottom: 0;
        }
	}

    .group2 .box11 {
        position: relative;
		width: 273px;
		height:319px;
		border-width: 1px 1px 0 1px;
		border-style: solid;

		& + .box11 {
			border-width: 1px;
			border-style: solid;
			height: 317px;
		}
	}

    .group2 + .group3 {
		.box13 {
			width: 346px;
			height: 320px;
			border-top: 1px solid;
			border-bottom: 0;
			a { display: block; }

			img,
			a,
			a img {
				width: 100%;
				height: 100%;

				max-width: 100%;
				max-height: 100%;
			}
		}

		.box15 {
			width: 145px;
			height: 320px;
            margin: 0;
        }

		.box15 .title {
            left:0;
			width: 100%;
			height: 56px;
			margin:0;

			@include fontSize($defFont + 16);
			line-height: 56px;
			letter-spacing: 1px;
			color:#fff;
		}

		.box15 .box-category3 {
			width: 100%;
			padding:0;
			border:0;
			@include border-radius(0px);

			background: transparent;

			@for $i from 1 through length($color-light-list) {
				&.catcolorbg#{$i} li:nth-child(odd) { background: nth($color-light-list, $i); }
			}


		}


		.box15 .box-category3 ul {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
		}

		.box15 .box-category3 ul li {
			display: block;
			width: 100%;
			height: 33px;

            margin: 0;

			a {
				display: block;
				width: 100%;
				height: 100%;

				text-align: center;
				line-height: 33px;
			}
		}

		.box16 {
			width: 245.5px;
			height: 317px;
            border-width: 1px 0;
            border-style: solid;

            .box12 { top: 0; }

			.caption,
            .caption4 {
                height: 54px;
                padding: 0;
            }
		}

	}


    .img11 {
        width: 135px;
        height: 135px;
        max-width: 135px;
        max-height: 135px;
    }

    & > div.divider {  border-top: 0; }
	.section-divider { display: none; }

    .carousel4 {
		position: relative;
		height: 639px;
        border-left: 1px solid;

		.listcontent {
			width: 199px;
			height: 637px;
			border-width: 1px 1px 1px 0;
			border-style: solid;
		}

		.box14 {
			width: 100%;
			height: 211px;

            .caption {
                @include fontSize($defFont - 1);
                display: block;
                width: 135px;
                margin: 5px auto;
            }
		}

		.divider {
			width: 100%;
			height: 0;
		}

		.pagination {
			position: absolute;
            top: 0;
			right: -10px;
			margin-top: 245px;
			z-index:3;
		}

		@for $i from 1 through length($color-light-list) {

			&.catcolorleft#{$i} {
				.more a {
					&:hover,
					&:visited {
						color: nth($color-list, $i);
					}
				}

				li { background: nth($color-light-list, $i); }
			}
		}
	}

}


/*#[section3]館首頁-商品櫥窗模組-有LOGO輪播版本
櫥窗logo輪播模組樣式設定

    <section class="section3">
        <a id="shop0"></a>
        <div class="section-bg section-bg-img1"></div>
        <div class="clear"></div>

        <div class="group2">
            <div class="box11 catcolorright1  catcolortop1 catcolorleft1">
                 <div class="box12 img10 pic">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                    </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>
            <div class="box11 catcolorright1 catcolortop1">
                 <div class="box12 img10 pic">
                     <a href="javascript:void(0);">
                         <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                     </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>
        </div>

        <div class="group3">
            <div class="box15 catcolorbg1">
                <div class="title catcolortxt1">館別名稱</div>
                <div class="box-category3 catcolorbg1">
                    <ul>
                        <li><a href="javascript:void(0);">品牌名稱1</a></li>
                        <li><a href="javascript:void(0);">品牌名稱2</a></li>
                        <li><a href="javascript:void(0);">品牌名稱3</a></li>
                        <li><a href="javascript:void(0);">品牌名稱4</a></li>
                        <li><a href="javascript:void(0);">品牌名稱5</a></li>
                        <li><a href="javascript:void(0);">品牌名稱6</a></li>
                    </ul>
                </div>
            </div>

            <div class="box13 pic catcolorbottom1 catcolortop1">
                <a href="javascript:void(0);">
                    <img src="http://placehold.it/346x320">
                </a>
            </div>

            <div class="box16 catcolortop1 catcolorbottom1" shopitemid="4549">
                <div class="box12 img10 pic">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                    </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>

            <div class="box16 catcolortop1 catcolorbottom1" shopitemid="4550">
                <div class="divider catcolorleft1"></div>
                <div class="box12 img10 pic">
                    <a href="javascript:void(0);">
                        <img src="http://placehold.it/222x222?text=商品圖" class="itemImgCen">
                    </a>
                </div>
                <div class="caption4">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                <div class="price">$999,999</div>
            </div>
        </div>

        <div class="carousel-logo-wall carousel-logo-cates catcolortop1 catcolorbottom1 catcolorleft1 catcolorright1">
            <ul id="carousel-logo">
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
                <li class="pic">
                   <a href="javascript:void(0);"><img src="http://placehold.it/130x65?text=LOGO圖"></a>
                </li>
            </ul>
            <a id="prev1" class="prev catcolorbg1 catcolorleft1" href="javascript:void(0);">&lt; </a>
            <a id="next1" class="next catcolorbg1 catcolorright1" href="javascript:void(0);">&gt; </a>
        </div>

        <div class="carousel4 catcolorleft1">
            <div class="pagination">
                <div class="more"><a class="catcolortxt1" href="#nogo">更多商品</a></div>
                <ul>
                    <li><a href="#nogo" class="catcolorbg1">1</a></li>
                    <li><a href="#nogo">2</a></li>
                    <li><a href="#nogo">3</a></li>
                </ul>
            </div>

            <div class="listcontent catcolortop1 catcolorbottom1 catcolorright1">
                <div>
                    <div class="box14">
                        <a href="javascript:void(0);" style="text-decoration: none;">
                            <div class="img11 pic">
                                <img src="http://placehold.it/135x135?text=商品圖" class="itemImgCen">
                            </div>
                            <div class="caption">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                            <div class="price">$99,999</div>
                        </a>
                    </div>
                    <div class="divider catcolorbottom1"></div>
                    <div class="box14">
                        <a href="javascript:void(0);" style="text-decoration: none;">
                            <div class="img11 pic">
                                <img src="http://placehold.it/135x135?text=商品圖" class="itemImgCen">
                            </div>
                            <div class="caption">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                            <div class="price">$99,999</div>
                        </a>
                    </div>
                    <div class="divider catcolorbottom1"></div>
                    <div class="box14">
                        <a href="javascript:void(0);" style="text-decoration: none;">
                            <div class="img11 pic">
                                <img src="http://placehold.it/135x135?text=商品圖" class="itemImgCen">
                            </div>
                            <div class="caption">商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱</div>
                            <div class="price">$99,999</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-divider"></div>
    </section>

*/

//logo輪播模組樣式設定
.carousel-logo3 {
    @include float(right);
    position: relative;
    width: 445px;
    height: 115px;
    // margin:-10px 0px 10px -40px;

    ul {
        @include pie-clearfix;
        width: 445px;
        height: 100%;

    }

    ul li {
        @include float(left);
        position: relative;
        display: block;
        width: 148.3px;
    	height: 90px;
        margin:12.5px 0;

        &:first-child {margin-left:0; }
    }

    ul li img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100px;
        max-height: 81px;

        margin-top: -40.5px;
        margin-left: -50px;
    }

    .prev,
    .next {
        position: absolute;
        display: block;
        top:50%;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        border-bottom:0;

        color:#fff;
        text-align: center;
        line-height: 30px;

    }

    .prev { left:0; }

    .next { right: 0; }

}


//carousel-logo-wall
.carousel-logo-wall {
	padding: 0 40px;
	background: #fff;
	overflow: hidden;

	border-width: 1px;
	border-style: solid;

	li {
		@include float(left);
		background: #fff;
		overflow: hidden;
		border-left: 1px dashed #d5d5d5;


		text-align: center;

		&:first-child { border-left: 0; }

		& > img {
			height: 100%;
		}
	}

	.prev,
	.next {
		position: absolute;
		top:0;
		display: block;
		width: 40px;
		height: 0;
		padding-top: 85px;
		overflow: hidden;
		margin: 0;
		&:before {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			margin: -15px 0 0 -15px;
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			overflow: hidden;
			background: url(#{$img-path}Icon/Close.png) center no-repeat;
		}



	}
	.prev {
		left:0px;
		&:before { @include rotate(-90deg); }

	}

	.next {
		right: 0px;
		&:before { @include rotate(90deg); }
	}
}

.carousel-logo-cates {
	position: absolute;
	right:33px;
	bottom:16px;
	width: 885px;
	height: 84px;

	li {
		width: 146.5px;
		height: 65px;
		margin:10px 0;

	}
}



/*#[orther components]其他元件

    <div class="banner-bg banner-bg-img1"></div>
    <div class="banner-bgcolor colorbg1"></div>
    <div class="toperHeaderBG"></div>

*/

.banner-bg {
    position: absolute;
    @include float(left);
    z-index:0;
    display: block;
    width: 613px;
    height: 172px;
    margin-top: 14px;
    margin-left: -372px;
    background-position: 300px 5px;
    background-repeat: no-repeat;
}

.banner-bgcolor {
    position: absolute;
    z-index: -2;
    top: 195px;
    left: 0px;
    width: 100%;
    height: 441px;
}

.toperHeaderBG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    min-width: 1024px;
    height: 195px;
    margin-left: 0;
    background-color: #f2f0f1;
}

@for $i from 1 through 9 {
    .banner-bg-img#{$i} {
    	background-image: url(#{$img-path}banner-bg-#{$i}.png);
    }

    .banner-bg2-img#{$i} {
    	background-image: url(#{$img-path}banner-bg2-#{$i}.png);
    }
}
