.topper .searchbar .input { background:#fff; }

.banner {
    @include float(left);
    margin-left:0;
    width:744px;
    height:522px;

    .banner-img {
		position:relative;
        &,
        & img {
            width:744px;
    		height:486px;
        }

		a{ border-bottom:0; }
	}
}

.banner .tab {
    margin:0 6px;
    height:36px;
    background-color:rgba(217, 217, 217, .8);
    ul { @include pie-clearfix; }
    ul li {
        @include float(left);
        position:relative;
        width:16.6%;
        height:26px;
        color: #fff;
        background:rgba(217, 217, 217, .8);
        border-left:2px solid rgba(217, 217, 217, .8);
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor:pointer;

        & + li { border:0; }

        .arrow {
            position:absolute;
            top:-4px;
            left:50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 5px 4px;
            border-color: transparent transparent #9d9d9d transparent;
            line-height: 0px;
            _border-color: #000 #000 #9d9d9d #000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000');
        }


        &:hover, &.selected {
            background:#606060;
            border-color:#606060;

            .arrow {
				border-color: transparent transparent #606060 transparent;
				_border-color: #000 #000 #606060 #000;
				_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000');
            }
        }


    }

}

.IndexRightBanner {
	position:relative;
	z-index:1;
	width:223px;
	height:520px;
	overflow:hidden;
	img {
		display:block;
	}
}

.indexBoxArea {
	@include pie-clearfix;
	margin-bottom:50px;
}
