.topper .searchbar .input { background:#fff; }


/*
#[banner]首頁Banner樣式
<p>
1. banner尺寸及樣式<br/>
2. tab樣式設計<br/>
</p>
---
    <div class="banner">
        <div class="banner-img">
            <a href="#"><img src="http://placehold.it/744x486"></a>
        </div>
        <div class="tab">
            <ul>
                <li class="selected"><span class="arrow"></span>nav1</li>
                <li><span class="arrow"></span>nav2</li>
                <li><span class="arrow"></span>nav3</li>
                <li><span class="arrow"></span>nav4</li>
                <li><span class="arrow"></span>nav5</li>
                <li><span class="arrow"></span>nav6</li>
            </ul>
        </div>
    </div>
*/
.banner {
    width:744px;
    height:522px;
    margin-left:0;

    .banner-img {
        &,
        & img {
            width:744px;
    		height:486px;
        }
	}

    .tab { margin:0 6px; }
    .tab ul li {
        width:16.6%;
        border-left:2px solid rgba(217, 217, 217, .8);

        .arrow {
            border-color: transparent transparent rgba(217, 217, 217, 0.8) transparent;
            _border-color: #000 #000 rgba(217, 217, 217, 0.8) #000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000');
        }

        &:hover, &.selected {
            background:#606060;
            border-color:#606060;
        }
    }

    .tab ul li:hover, .tab ul li.selected {
        .arrow {
            border-color: transparent transparent #606060 transparent;
            _border-color: #000 #000 #606060 #000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000');
        }
    }
}

/*
#[IndexRightBanner]首頁右邊Banner
---
    <div class="IndexRightBanner"><img src="http://placehold.it/223x520"></div>
*/

.IndexRightBanner {
	position:relative;
	z-index:1;
	width:223px;
	height:520px;
	overflow:hidden;
    background:#ccc;
	img {
		display:block;
	}
}



/*
#[indexBoxArea]天天閃購模組及六合一輪播模組-框架組成
---
*/

.indexBoxArea {
    @include float(left);
	@include pie-clearfix;
    margin: 15px 0 50px 0;
    width:100%;
}


/*
#[limitedArea]天天閃購模組
<p>
1. 標題樣式<br/>
2. 盒子樣式<br/>
</p>
---
    <aside class="limitedArea">
        <div class="tit" style="background:url(http://www.newegg.com.tw/Themes/img/limitedAreaBG.jpg);">
          <img src="http://www.newegg.com.tw/Themes/img/limitedIcon.png">天天閃購
        </div>
        <div class="limited">
            <div class="box">
                <div class="discount">
                    <p>
                        <span id="discount">89</span>折
                    </p>
                </div>

                <div class="TimeHeight">
                    <div class="Time">
                        <p id="show_countdown" class="countdown" name="timeleft" begindate="2015/09/09 11:00:00 AM" enddate="2015/09/10 10:59:39 AM">
                            <span class="hour">18</span>
                            <span>:</span>
                            <span class="minute">56</span>
                            <span>:</span>
                            <span class="second">50</span>
                        </p>
                        <span class="countdowntxt">倒數</span>
                    </div>
                </div>

                <div class="pic">
                    <a href="#">
                        <img src="http://placehold.it/170x170">
                    </a>
                </div>
                <div class="txt">
                    <a href="/Flash">
                        <h3 id="gbName" title="">【限時↘4.5折】TOD'S 金屬牌飾牛皮拉鍊長夾(愛馬仕橘)</h3>
                        <span id="gbPrice" class="price">$8,888</span>
                        <span id="gbOPrice" class="marketPrice">$19,110</span>
                    </a>
                </div>
                <div class="MoreProduct">
                        <span class="doublearrow"></span>
                        <p>更多優惠商品</p>
                </div>
            </div>
        </div>
    </aside>
*/


.limitedArea {
    @include float(left);
    width: 205px;
    background: #fff;

    .tit {
        width: 100%;
        height: 50px;

        background: url(#{$img-path}limitedAreaBG.jpg) $pink-m center top no-repeat;


        @include fontSize($defFont + 4);
        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 50px;

        img {
            vertical-align: middle;
            padding: 0 10px 7px 0;
        }
    }
}

.limitedArea .limited {
    width:201px;
    height:299px;
    border:2px solid $pink-m;
    border-top:0;
}

.limitedArea .limited .box {
    position: relative;
    width:100%;
    height:100%;

    .pic, .txt { width:180px; }

    h3 {
        height:36px;
        line-height:18px;
        white-space:pre-line;
    }

    .pic {
        margin:0 auto;
        padding-top: 40px;
        // margin-bottom: 8px;
        width:170px;
        height:170px;
        text-align:center;

        img {
            width:100%;
            height:100%;
        }
    }

    .txt { margin: 3px auto; }

    .txt a,
    .txt a:hover,
    .txt a:visited {
        border-bottom:0;
        color:inherit;
    }

    .price {
        @include float(right);
        padding: 0;
        overflow:hidden;

        @include fontSize($defFont - 1);
        white-space:pre-line;
        text-align:right;
    }

    .MoreProduct {
        position: relative;
        width: 100%;
        height: 16px;
        background-color: $pink-l;
        text-align: right;
        color: #FFFFFF;
        padding: 2px 0;

        @include fontSize($defFont - 2);
        line-height: 16px;
        cursor: pointer;

        p {
            position: relative;
            right: 21px;
            display: inline-block;
        }

        &:before {
            position: absolute;
            top: 0;
            right: 3px;
            display: block;
            content: ">>";
            width: 16px;
            height: 16px;
            overflow: hidden;

            @include fontSize($defFont - 2);
            text-align: center;
            line-height: 20px;
            color: #fff;

            // background: url(#{$img-path}doublearrow.png) center no-repeat;
        }
    }
}

.limitedArea .limited .discount {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 60px;
    height: 40px;

    p {
        position: absolute;
        top: 3px;
        left: 6px;
        font-size: 13px;
        border-bottom: 2px solid $pink-lw;
        font-weight: bolder;
    }

    p span {
        position: relative;
        left: -2px;
        font-size: 30px;
        color: $font-red-color;
        font-weight: normal;
    }
}

.limitedArea .limited .TimeHeight {
    position: absolute;
    top:0;
    right:0;
    display:inline-block;
    height: 32px;
    padding: 4px 5px;

    .countdowntxt {
        @include float(left);
        width: 12px;
        margin:3px 5px 0 0;
        padding: 1px 0;

        @include fontSize($defFont - 3);
        font-weight: bolder;
        white-space: normal;
    }

    .countdown {
        @include float(right);
        max-width: 130px;
        overflow: hidden;
        margin-top: 3px;

        @include fontSize($defFont + 2);
        text-align: right;
        white-space: nowrap;
    }

    .hour , .minute , .second {
        background: $gray-shade-m;
        padding: 5px 3px;
        display:inline-block;
        color: #fff;
        @include border-radius(4px);
    }
}


/*
#[banner-adv]四品腰帶模組樣式
---
    <div class="banner-adv">
        <div class="mainClassification">
            <div class="tab">
                <ul>
                    <li>nav1</li>
                    <li>nav2</li>
                    <li>nav3</li>
                    <li>nav4</li>
                    <li>nav5</li>
                    <li>nav6</li>
                </ul>
            </div>
            <div class="boxArea">
                <ul>
                    <li class="box">
                        <div class="pic">
                            <a href="#"><img src="http://placehold.it/200x200"></a>
                        </div>
                        <a href="#">
                            <div class="txt">
                               <h3>【限時再折】Longchamp長把小型摺疊水餃包1</h3>
                               <span class="price">$3,188</span>
                               <span class="marketPrice">$4,680</span>
                            </div>
                        </a>
                    </li>
                    <li class="box">
                        <div class="pic">
                            <a href="#"><img src="http://placehold.it/200x200"></a>
                        </div>
                        <a href="#">
                            <div class="txt">
                               <h3>【限時再折】Longchamp長把小型摺疊水餃包2</h3>
                               <span class="price">$3,188</span>
                               <span class="marketPrice">$4,680</span>
                            </div>
                        </a>
                    </li>
                    <li class="box">
                    <div class="pic">
                        <a href="#"><img src="http://placehold.it/200x200"></a>
                        </div>
                        <a href="#">
                            <div class="txt">
                               <h3>【限時再折】Longchamp長把小型摺疊水餃包3</h3>
                               <span class="price">$3,188</span>
                               <span class="marketPrice">$4,680</span>
                            </div>
                        </a>
                    </li>
                    <li class="box">
                        <div class="pic">
                            <a href="#"><img src="http://placehold.it/200x200"></a>
                        </div>
                        <a href="#">
                            <div class="txt">
                               <h3>【限時再折】Longchamp長把小型摺疊水餃包4</h3>
                               <span class="price">$3,188</span>
                               <span class="marketPrice">$4,680</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
*/

.banner-adv {
    @include float(right);
    width:(1176 - 220)#{px};
    height:auto;
    border-bottom: 3px solid $orange-m;
    background: #fff;

    @include pie-clearfix;
}

.mainClassification {
    width:100%;
    height:auto;
}


.mainClassification .tab {
    display: block;
    width: 99.8%;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: $orange-m;

    @include pie-clearfix;

}
.mainClassification .tab li {
    position: relative;
    @include float(left);
    width: 16.66%;
    height: 45px;
    @include box-sizing(border-box);
    border-left: 1px solid $orange-m;
    cursor:pointer;

    @include fontSize($defFont + 2);
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 45px;


    &:first-child { border-left:0; }

    &:before {
        position: absolute;
        left: 50%;
        bottom: -15px;
        display: none;
        content: "";
        margin-left: -10px;
        border-width: 15px 10px 0 10px;
        border-style: solid;

    }

    &:hover {
        &:before {
            display: block;
            border-color: $orange-m transparent transparent transparent;
        }
    }

    &:hover,
    &.active {
        color: #fff;
        background-color: $orange-m;
    }
}


.boxArea {
    @include pie-clearfix;
    width:100%;
    height: 273px;
    padding:13px 0;
    overflow: hidden;

    ul {
        width:100%;
        height:100%;
        overflow:hidden;
        @include pie-clearfix;
    }

    ul li:first-child {
        border-left:0;
    }
}

.boxArea .box {
    @include float(left);
    position: relative;
    display: block;
    width: 24.91%;
    height: 100%;
    border-left: 1px dashed $gray-shade-l;

    .pic, a {
        margin:0 auto;
        width: 200px;
    }


    .pic { height: 200px; }
    .pic img {
        width:100%;
        height:100%;
    }

    .txt { height:70px; }
    .price { @include float(right); }
    .marketPrice { margin: 5px; }

}


/*#[section-head] 首頁櫥窗標題

    <div class="section">
        <div class="section-head colorline1">
            <div class="icon"><i></i></div>
            <div class="section-title">設計風尚</div>
        </div>

        <div class="section-head colorline2">
            <div class="icon"><i></i></div>
            <div class="section-title">國際名品</div>
        </div>

        <div class="section-head colorline3">
            <div class="icon"><i></i></div>
            <div class="section-title">美妝保養</div>
        </div>

        <div class="section-head colorline4">
            <div class="icon"><i></i></div>
            <div class="section-title">保健養生</div>
        </div>

        <div class="section-head colorline5">
            <div class="icon"><i></i></div>
            <div class="section-title">樂活時尚</div>
        </div>

        <div class="section-head colorline6">
            <div class="icon"><i></i></div>
            <div class="section-title">運動健身</div>
        </div>

        <div class="section-head colorline7">
            <div class="icon"><i></i></div>
            <div class="section-title">戶外休旅</div>
        </div>

        <div class="section-head colorline8">
            <div class="icon"><i></i></div>
            <div class="section-title">親子寵物</div>
        </div>

        <div class="section-head colorline9">
            <div class="icon"><i></i></div>
            <div class="section-title">居家用品</div>
        </div>

        <div class="section-head colorline10">
            <div class="icon"><i></i></div>
            <div class="section-title">生活家電</div>
        </div>

        <div class="section-head colorline11">
            <div class="icon"><i></i></div>
            <div class="section-title">數位3C</div>
        </div>

        <div class="section-head colorline12">
            <div class="icon"><i></i></div>
            <div class="section-title">電腦周邊</div>
        </div>
    </div>

*/

.section .section-head {
    width: 100%;
    height: 39px;
    margin-bottom: 10px;

    text-align: left;
    line-height: 39px;
    @include pie-clearfix;

    & > div {
        position: relative;
        @include float(left);
        display: inline-block;
    }

    .icon {
        width: 69px;
        height: 39px;

        i {
            left: 50%;
            margin-left: -19.5px;
        }
    }

    .section-title {
        padding-left: 10px;

        @include fontSize($defFont + 6);
        line-height: 39px;
        font-weight: bold;
    }

    //section-head cates color settings
    @for $i from 1 through length($color-list) {
        &.colorline#{$i} {
            .icon { background-color: nth($color-light-list, $i); }
            .icon i { background-position: 0px (($i - 1) * -34)#{px}; }
            .section-title { color: nth($color-list, $i); }

        }
    }

}
