%accountControlMenus {
    background-color: rgba(255, 255, 255, .85);

    @include fontSize($defFont - 4);
    text-align:center;

    & > ul > li {
        @include quickMenuStyle;

        & > a {
            @include quickMenuStyle;

            & > i.icon {
                background-image:url(#{$img-path}panel-icon.png);

                &.listi1 { background-position: 0 0; }

                @for $i from 1 through 5 {
                    &.listi#{$i+1} { background-position: 0 (-30 * $i)#{px}; }
                }
            }
        }


        &:hover {
            background:#aaa;
            background-color:rgba(160, 160, 160, .7);
        }

        &:hover i.icon {
            &.listi1 { background-position: 0 0; }
            @for $i from 1 through 5 {
                &.listi#{$i+1} { background-position: -30px (-30 * $i)#{px}; }
            }
        }
    }
}

%banner {
    position: relative;
    @include float(left);
    display: block;

    .banner-img {
        position:relative;
        overflow: hidden;
    }

    a { border-bottom:0; }

    .tab {
        height:36px;

        ul { @include pie-clearfix; }
        ul li {
            @include float(left);
            position:relative;
            display:block;
            height:36px;

            & + li { border:0; }

            &,
            & a {
                color: #fff;
                @include fontSize($defFont - 1);
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                line-height: 36px;
                cursor:pointer;
            }

            & a {
                display: block;
                width:100%;
                height: 100%;
            }

            .arrow {
                position:absolute;
                top:-4px;
                left:50%;
                margin-left:-2.5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 4px 5px 4px;
            }


        }
    }

}


%box-handle {
    @include float(left);
    overflow: hidden;
}

%section-icons {
    @include float(left);
    display: inline-block;
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    width: 46px;
    height: 46px;
    overflow: hidden;

    background: url(#{$img-path}section-icon.png) no-repeat;
}

%btn_frame {
    @include float(left);
    padding: 0;
    width: 230px;
    height: 81px;

    @include fontSize($defFont + 5);
    line-height: 81px;

}


//account-center tables
%tables {
    width: 100%;
    height: auto;

    tr td {
        height: 80px;
        border: 1px solid $gray-shade-l;

        text-align: center;

        &:first-child,
        & > .price {
            height: auto;

            @include fontSize($defFont + 2);
            text-align: center;
            font-weight: bold;
            color: $gray-shade-d;
        }

        &:first-child+td+td > p {
            @include fontSize($defFont - 3);
        }
    }

    tr td,
    tr th { position: relative; }
    tr:first-child {
        background: $gray-shade-lw;
        border-width: 0 1px;
        border-style: solid;
        border-color: $gray-shade-l;

        th {
            height: 50px;

            @include fontSize($defFont - 1);
            color:$gray-shade-d;
            text-align: center;
            line-height: 50px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
}

//account cneter buttons
%accountBtn {
    display: inline-block;
    width: auto;
    height: 29px;
    padding:0 10px;
    border: 0;
    background-color: $orange;
    cursor: pointer;

    @include fontSize($defFont);
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
}

//account Tabs & shopCart Tabs
%tabs {
    height: auto;
    border: 1px solid $gray-shade-l;

    ul {
        width: 100%;
        height: 50px;
        @include pie-clearfix;
    }

    ul > li {
        @include float(left);
        position: relative;
        display: block;
        width: 25%;
        height: 100%;
        border-left: 1px solid $gray-shade-l;
        @include box-sizing(border-box);
        cursor: pointer;

        text-align: center;

        &:first-child { border-left:0; }

        //hover effects
        &:hover, &.TabSelected {
           &, & > a { @include transition(100); }
           & > a { color: #fff; }

           background: $orange;
        }
    }

    ul > li a {
        position: relative;
        display: inline-block;
        height: 100%;
        border-bottom: 0;

        @include fontSize($defFont + 3);
        text-align: center;
        line-height: 50px;
        color: $gray-shade-m;
    }

    i.icon {
        position: absolute;
        left: -43px;
        top: 5px;
        display: block;
        width: 40px;
        height: 40px;
        overflow: hidden;
    }
}

%pieceChoice {
    @include float(left);
    display: block;
    height: 23px;

    text-align: center;
    line-height: 23px;

    &:first-child, &.red { line-height: 25px;}

    &.red { color: $font-red-color; }

    &.less,
    &.add {
        width: 23px;
        border: 1px solid $gray-shade-d;
        cursor: pointer;
    }

    &.less { background: url(#{$img-path}Icon/less.jpg) no-repeat center; }
    &.notless { background: url(#{$img-path}Icon/NotLess.png) no-repeat center; }
    &.add {
        margin-right: 5px;
        background: url(#{$img-path}Icon/add.jpg) no-repeat center;
    }
    &.notadd { background: url(#{$img-path}Icon/NotAdd.png) no-repeat center; }

    &.quantity {
        width: 40px;
        border-width: 1px 0;
        border-style: solid;
        border-color: $gray-shade-d;
    }
}
