$min-width: 1024;
$gutter: 10;

//link-color
$link-color: #698eb8;

//font-settings
$defFont: 16;
$font-color: #666;
$font-gray: #b3b3b3;
$font-red-color: #C04040;

//images path
$img-path: "styleguide/img/"; //"/Themes/img/"

//box-base-width
$box-base-width: 196;

//prodWidth-single
$prod-s-width: 200;

$cates-name:         Fashion Design appliance Living Health Outdoor Computer 3C Foods NeweggUSA;
$siteMap-list:       fashion luxury appli life sports leisure computer digital foods overseas;
$color-list:         #3E3A39 #C07D2E #339ECF #63B2AF #82B964 #258D6A #122B65 #0757A2 #EA5A32 #EA5A32;
$color-light-list:  #C4C2C2 #D6AE7B #82C5ED #87CDCE #89C087 #8ECBA9 #669BD3 #70B0E0 #F29E7F #EC7375;

//1.設計風尚
//#C4C2C2

//2.國際精品(11.國際風尚館)
//#D6AE7A

//3.家電用品
//#82C5ED

//4.居家生活(14.品味生活館)
//#87CDCF

//5.運動健身
//#8DC88C

//6.戶外休旅(12.活力健康館)
//#8DCEA8

//7.電腦周邊
//#669BD3

//8.數位３Ｃ(13.潮流科技館)
//#70B0E1

//9.好食市集(15.樂活時尚館)
//#F29F7F

//10.美蛋直購(16.美蛋直購館)
//#EC7375
