$min-width: 1024;
$gutter: 10;

//font-size
$defFont: 16;

//images path
$img-path: "/Themes/img/";


//prodWidth-single
$prod-s-width: 200;

$cates-name:         design Fashion appliance Living Health Outdoor Computer 3C Foods NeweggUSA;
$siteMap-list:       fashion luxury appli life sports leisure computer digital foods overseas;
$color-list:         #3E3A39 #C07D2E #339ECF #63B2AF #82B964 #258D6A #122B65 #0757A2 #EA5A32 #EA5A32;
$color-light-list:  #C4C2C2 #D6AE7B #82C5ED #87CDCE #89C087 #8ECBA9 #669BD3 #70B0E0 #F29E7F #EC7375;
