$max-width: 1280;
$min-width: 1024;
$side-width: 206;
$gutter: 10;

$outer-max-left: 55;
$outer-max-right: 49;
$outer-min-left: 10;
$outer-min-right: $outer-min-left;

$frame-max-width: $max-width - ($outer-max-left + $outer-max-right);
$frame-min-width: $min-width - ($outer-min-left + $outer-min-right);

//link-color
$link-color: #698eb8;

//border-color
$gray-shade-d: #666;
$gray-shade-m: #b3b3b3;
$gray-shade-l: #d5d5d5;
$gray-shade-lw: #e6e6e6;

//images path
$img-path: "img/"; //"/Themes/img/"

//box-base-width
$box-base-width: 196;

//prodWidth-single
$prod-s-width: 200;

//red
$red-shade-d: #900;
$red-shade-m: #c21920;
$red-shade-l: #f00;
$red-shade-lw: #C04040;

//pink
$pink-d: #CD4754;
$pink-m: #C95B66;
$pink-l: #DB7E87;
$pink-lw: #EDBFC3;



//orange
$orange: #f37225;
$orange-m: #ec8b54;
$orange-l: #fbb486;

$cates-name:         Design Fashion Beauty Healthcare Foods Sport Outdoor Lovely Living Appliance Digital Computer US;
$siteMap-list:       fashion luxury appli life sports leisure computer digital foods overseas;

$color-list: 	   #3e3a39 #c07d2e #de7884 #75852e #c03f40 #80b870 #248c6a #e39300 #63b2af #339ecf #0757a2 #162c84 #e95b32;
$color-light-list: #b2b0b0 #e6cbab #f2c9ce #c8ceab #e6b2b3 #cde3c1 #a7d1c3 #f4d499 #c1e0df #add8ec #9cbcda #a2abce #f6bdad;
//設計風尚.國際名品.美妝保養.保健養生.樂活時尚.運動健身.戶外休旅.親子寵物.居家用品.生活家電.數位3C.電腦周邊.美蛋直購



//font-settings
$defFont: 16;
$font-color: $gray-shade-d;
$font-gray: $gray-shade-m;
$font-red-color: $red-shade-lw;
$font-organe-color: $orange;
