@for $i from 1 through 10 {
    .catcolorbg#{$i} {
        background-color: nth($color-list, $i);
    }

    .catcolortxt#{$i},
    .catcolortop#{$i},
    .catcolorright#{$i},
    .catcolorbottom#{$i},
    .catcolorleft#{$i} {
        color: nth($color-list, $i);
    }

    .colorbg#{$i} { background-color: nth($color-light-list, $i); }
    .colortxt#{$i} { color: nth($color-light-list, $i);  }
    .colorline#{$i} { border-bottom: 1px solid nth($color-light-list, $i); }
}


//for other cates
$sec-cates: 2 6 8 4 9 10;

$sec-colors-list: nth($color-list, 2) nth($color-list, 6) nth($color-list, 8) nth($color-list, 4) nth($color-list, 9) nth($color-list, 10);
$sec-colors-list-light: nth($color-light-list, 2) nth($color-light-list, 6) nth($color-light-list, 8) nth($color-light-list, 4) nth($color-light-list, 9) nth($color-light-list, 10);

@for $i from 1 through 6 {
    .colorbg1#{$i} { background-color: nth($sec-colors-list-light, $i); }
    .colortxt1#{$i} { color: nth($sec-colors-list, $i); }
    .colorline1#{$i} { border-bottom: nth($sec-colors-list-light, $i); }
}
