/*#[Form]表單元件基礎樣式 */
input[type="text"],
input[type="password"],
input[type="tel"],
select,
textarea {
	padding:5px 10px;
	*padding:5px 10px;		/*IE7*/
	margin:0 5px;
	vertical-align: middle;
	border-width: 1px;
	border-color:#808080;
	border-style: solid;
	font-family: "Microsoft JhengHei", sans-serif;
	background-color: #fff;
	outline: none;
}




/*#[Input]輸入框樣式

###[input_xs]

    <input type="text" class="input_xs" id="" name="" tabindex="4" maxlength="" placeholder="名字" value="">

###[input_sm]

    <input type="text" class="input_sm" id="" name="" tabindex="4" maxlength="" placeholder="名字" value="">

###[input_md]

    <input type="text" class="input_md" id="" name="" tabindex="4" maxlength="" placeholder="名字" value="">

###[input_lg]

    <input type="text" class="input_lg" id="" name="" tabindex="4" maxlength="" placeholder="名字" value="">

###[input_radius_md]

    <input type="text" class="input_radius_md" id="" name="" tabindex="4" maxlength="" placeholder="名字" value="">
*/
.input_xs {
	width:45px;
}
.input_sm {
	width:100px;
}
.input_md {
	width:235px;
}
.input_lg {
	width:700px;
}
.input_radius_md {
	width:200px;
	border-radius:7px;
}

/*#[selector]select元件樣式

###[seclect虛擬元件]
	<select class="select_example" style="display: none;">
	        <option value="option-1" data-is-choose-store="False">option-1</option>
	        <option value="option-2" data-is-choose-store="False">option-2</option>
	        <option value="option-3" data-is-choose-store="False">option-3</option>
	        <option value="option-4" data-is-choose-store="False">option-4</option>
	        <option value="option-5" data-is-choose-store="False">option-5</option>
	        <option value="option-6" data-is-choose-store="False">option-6</option>
	</select>



###[select_sm]

    <select class="select_sm" style="background: url(http://www.newegg.com.tw/Themes/img/Icon/SelectImg.png) right no-repeat;">
        <option value="/Category?CategoryID=1195">陸寶 Lohas</option>
        <option value="/Category?CategoryID=1237">開化堂</option>
        <option value="/Category?CategoryID=1238" selected="true" id="$pgId_6">金網つじ</option>
        <option value="/Category?CategoryID=1239">朝日燒</option><option value="/Category?CategoryID=1240">公長齋小菅</option>
        <option value="/Category?CategoryID=1467">WANTZ 享瓷</option>
    </select>

###[select_md]

    <select class="select_md" style="background: url(http://www.newegg.com.tw/Themes/img/Icon/SelectImg.png) right no-repeat;">
        <option value="/Category?CategoryID=1195">陸寶 Lohas</option>
        <option value="/Category?CategoryID=1237">開化堂</option>
        <option value="/Category?CategoryID=1238" selected="true" id="$pgId_6">金網つじ</option>
        <option value="/Category?CategoryID=1239">朝日燒</option><option value="/Category?CategoryID=1240">公長齋小菅</option>
        <option value="/Category?CategoryID=1467">WANTZ 享瓷</option>
    </select>

###[select_other]

    <select class="select_other" style="background: url(http://www.newegg.com.tw/Themes/img/Icon/SelectImg.png) right no-repeat;">
        <option value="/Category?CategoryID=1195">陸寶 Lohas</option>
        <option value="/Category?CategoryID=1237">開化堂</option>
        <option value="/Category?CategoryID=1238" selected="true" id="$pgId_6">金網つじ</option>
        <option value="/Category?CategoryID=1239">朝日燒</option><option value="/Category?CategoryID=1240">公長齋小菅</option>
        <option value="/Category?CategoryID=1467">WANTZ 享瓷</option>
    </select>

###[select_birth]
    <div class="selector-birth">
        <input type="text" id="Birthday" name="Birthday" tabindex="4" maxlength="10" placeholder="年/月/日" value="1911/01/01" class="hasDatepicker" style="background:url(https://secure.newegg.com.tw/Themes/img/Icon/DateFarToNearImg.png) right no-repeat;">
   </div>

*/


select {
	z-index:1;
	padding: 4px 3px;
	padding: 40px 3px \9;
	height:29px \9;
	margin:0 5px;
	background: url(#{$img-path}Icon/SelectImg.png) right no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;

    color: #666;
	text-indent:0.01px;

    &.select_sm {
    	width:120px;
    }

    &.select_md {
    	width:235px;
    }

    &.select_other {
    	padding-right:30px;
    	padding-right:3px \9;
    	background-imeage:none\9;
    }
}

//客製化select
.selector {
    position:relative;
    cursor:pointer;

    ul {
        position:absolute;
        top:28px;
        z-index:0;
        overflow:auto;
        overflow-x:hidden;
        width:100%;
        max-height:90px;
        border-width:1px;
        border-style:solid;
        li {
            @include selectorStyle;
            display:none;
            margin-top:-1px;
        }
    }

    &:active, &:focus, &.active {
        ul {
            z-index:1;
            background:#fff;
        }

        ul li { display:block; }
    }


    .default {
		@include selectorStyle;
		border-width:1px;

		.icon-arrow {
			position:absolute;
			top:-1px;
			right:-1px;
			width:33px;
			height:100%;
			background:url(#{$img-path}Icon/SelectImg.png) no-repeat center;
			border-width:1px;
			border-style:solid;
		}
	}

}


.selector-birth input {
    background:url(#{$img-path}Icon/DateFarToNearImg.png) right no-repeat;
}


.selectText {
   position: relative;
   display:inline-block;
   top: 8px;
   width: 200px;
   height: 26px;
   margin:0 5px;
   padding-right: 25px;
   border: 1px solid $gray-shade-l;
   background: #fff;
   cursor: pointer;

   &:before {
	   position: absolute;
	   content:"";
	   display: block;
	   top:1px;
	   right: 4px;
	   width: 25px;
	   height: 25px;
	   overflow: hidden;
	   background: url(#{$img-path}Icon/SelectImg.png) center no-repeat;
   }


   span {
	   position: relative;
	   left:0;
	   top:0;
	   display: inline-block;
	   width: 91.5%;
	   height: 26px;
	   padding: 0 5px;
	   border-right: 1px solid $gray-shade-l;

	   line-height: 26px;
	   @include ellipsis;

   }

   .selectLists {
	   position: absolute;
	   z-index: 101;
	   top:26px;
	   left:-1px;
	   width: 100%;
	   height: auto;
	   padding: 5px 0;
	   border: 1px solid $gray-shade-l;
	   overflow: hidden;


	   background: #fff;

	   li {
		   display: inline-block;
		   width: 100%;
		   height: 25px;
		   padding:0 5px;
		   line-height:25px;

		   &:hover { background: $gray-shade-lw; }
	   }
   }

}





/*#[checkbox]核取輸入框樣式
    <input type="checkbox" name="" id="" tabindex="5">
    <input type="checkbox" name="" id="" tabindex="5" checked>
*/
input[type="checkbox"] {
	width:20px;
	height:20px;
	vertical-align:middle;
}

.checkbox {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin:0 5px;
}


/*#[Radio]單選輸入框樣式
    <input type="radio">
    <input type="radio" checked>
*/
input[type=radio],
.radio {
	width:20px;
	height:20px;
	vertical-align: middle;
	margin:0 10px;
	border:0;
}



/*#[breads]麵包屑

    <div class="pathLink"><a href="#">首頁</a><span>&gt;</span><a href="#" id="$pgId_5">手作工藝</a><span>&gt;</span>
*/
.bread {
	@include pie-clearfix;
	width: 500px;
	margin-left: 10px;
	position: relative;
	z-index:1;
	color: #808080;
	font-size: 14px;
    height:45px;
    line-height:54px;
    padding-left:8px;
	margin-left: -58.5px;
	a {
		margin:0 3px;
	}
}

.pathLink {
	@include fontSize($defFont - 1);
	margin: $gutter#{px} 0;
	span {
		margin:0 3px;
	}
}

/*#[hr]水平線*/
hr {
	border:0;
	border-top-width:1px;
	border-style:solid;
	&.verticalDir {
		display:inline-block;
		position:relative;
		top:-1px;
		border-left:1px solid;
		vertical-align:middle;
		width:0;
		height:100%;
	}
}

/*#[IMG] IMG樣式表

*/
.img {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 2px auto 0 auto;
	overflow:hidden;

	a {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}
}


.img2 {
	width: 196px;
	height: 300px;
}

.img3 {
	width: 183px;
	height: 183px;
	margin: 2px auto 0px auto;
}


.img4 img {
	max-width: 392px;
	max-height: 300px;
	margin: 0 auto;
}

.img5 img {
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
}

.img6 img {
	max-width: 210px;
	max-height: 210px;
	margin: 0 auto;
}

.img7 img {
	max-width: 266px;
	max-height: 266px;
	margin: 0 auto;
}

.img8 img {
	max-width: 180px;
	max-height: 180px;
	margin: 0 auto;
}

.img9 img {
	max-width: 392px;
	max-height: 258px;
	margin: 0 auto;
}

.img10 img {
	margin: 0 auto;
}

.img11 {
	width: 160px;
	height: 160px;
	margin: 2px auto 0px auto;

	img {
		margin: 0 auto;
	}
}

.img12 img {
	max-width: 392px;
	max-height: 192px;
	margin: 0 auto;
}

.img13 img {
	width: 100%;
	height: 100%;
}

/*#[box-model-combobox]combobox樣式設定

##[comobox]

	<div class="combobox" style="height:392px; background:#ccc;"></div>

##[combobox2]

	<div class="combobox2" style="height:392px; background:#ccc;"></div>

##[combobox3]

	<div class="combobox3" style="height:196px; background:#ccc;"></div>

*/

.combobox,
.combobox2,
.combobox3 {
	@include float(left);
	height: 485px;
	overflow: hidden;
}

.combobox,
.combobox2 {
	width: ($box-base-width * 2)#{px};
}

.combobox3 { width: $box-base-width#{px}; }

/*#[box-model-box]box樣式設定

##[box1]

	<div class="box1" style="background:#ccc;"></div>

##[box2]

	<div class="box2" style="background:#ccc;"></div>

##[box3]

	<div class="box3" style="background:#ccc;"></div>

##[box4]

	<div class="box4" style="background:#ccc;"></div>

##[box5]

	<div class="box5" style="background:#ccc;"></div>

##[box6]

	<div class="box6" style="background:#ccc;"></div>

##[box7]

	<div class="box7" style="background:#ccc;"></div>

##[box8]

	<div class="box8" style="background:#ccc;"></div>

##[box9]

	<div class="box9" style="background:#ccc;"></div>

##[box10]

	<div class="box10" style="background:#ccc;"></div>

##[box11]

	<div class="box11" style="background:#ccc;"></div>

##[box12]

	<div class="box12" style="background:#ccc;"></div>

##[box13]

	<div class="box13" style="background:#ccc;"></div>

##[box14]

	<div class="box14" style="background:#ccc;"></div>

##[box15]

	<div class="box15" style="background:#ccc;"></div>

##[box16]

	<div class="box16" style="background:#ccc;"></div>

##[box17]

	<div class="box17" style="background:#ccc;"></div>

*/

@for $i from 1 through 17 {
	.box#{$i} {
		@extend %box-handle;
	}
}

.box1 {
	width: $box-base-width#{px};
	height: 485px;

	.title {
		display: inline-block;
		height: 12px;
		padding: 5px;
		overflow: hidden;

		@include fontSize($defFont);
		color: $font-color;
		font-weight: bold;
		text-align: left;
		white-space: pre-line;
	}
}


.box2 {
	width: $box-base-width#{px};
	height: 205px;
	white-space: normal;

	&.box2Top { height: 280px; }

	.border {
		width: ($box-base-width - 2)#{px};
		height: 100%;
	}

	#{&}-text {
		@include float(left);
		display: block;
		width: $box-base-width#{px};
		height: 100%;
	}

	.pic a {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.pic a img {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}


.box3 {
	width: (($box-base-width * 2) - 2)#{px};
	height: ($box-base-width - 4)#{px};
}


.box4 {
	width: (($box-base-width * 2) - 2)#{px};
	height: 485px;

	.title {
		height: 12px;
		padding: 5px;
		overflow: hidden;

		@include fontSize($defFont);
		font-weight: bold;
		color:$font-color;
		white-space: pre-line;
		overflow: hidden;
		text-align: left;
	}

	.img13 {
		width: 100%;
		height: 100%;
	}
}

.box5 {
	width: ($box-base-width - 2)#{px};
	height: 258px;
}

.box6 {
	width: (($box-base-width * 2) - 2)#{px};
	height: 126px;
}

.box7 {
	width: 226px;
	height: 308px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.box8 {
	width: 410px;
	height: 54px;

	.title {
		@include fontSize($defFont + 20);
		font-weight: bold;
		text-align: right;
		color: $font-red-color;
	}
}

.box9 {
	width: 414px;
	height: 276px;

	img {
		width: 100%;
		height: 100%;
	}
}

.box10 {
	width: ($box-base-width - 1)#{px};
	height: 252px;
	border-bottom: thin solid #FBE3E3;
	border-left: thin solid #FBE3E3;
}

.box11 {
	width: 274px;
	height: 80px;
	border-width: 0 1px 0 0;
	border-style: solid;
}


.box12 {
	width: 222px;
	height: 222px;
	margin-top: 88px;
}


.box13 {
	width: 280px;
	height: 310px;
	border-width:0 0 7px 0;
	border-style: solid;
	@include box-sizing(border-box);
}

.box14 {
	width: 201px;
	height: 236px;
}

.box15 {
	width: 201px;
	height: auto;
	margin-left: 50px;

	.title {
		@include float(left);
		position: relative;
		left: 50%;
		display: block;
		width: 100px;
		height: auto;
		margin-left: -50px;
		margin-bottom: 10px;

		@include fontSize($defFont + 32);
		text-align: center;
	}
}

.box16 {
	@include float(right);
	width: 225px;

	&, .box12 { margin-top: 0; }

	.divider {
		@include float(right);
		width: 1px;
		height: 260px;
		border-width: 0 0 0 1px;
		border-style: solid;
	}
}

.box17 {
	width: 390px;
	height: 258px;
}


/*#[box-model-category]box-category樣式設定

##[box-category]

	<div class="box-category" style="background:#ccc;"></div>

##[box-category2]

	<div class="box-category2" style="background:#ccc;"></div>

##[box-category3]

	<div class="box-category3" style="background:#ccc;">
		<ul>
			<li groupid="343"><a href="/Category?CategoryID=527">智慧穿戴</a></li>
			<li groupid="344"><a href="/Category?CategoryID=678">運動相機</a></li>
			<li groupid="345"><a href="/Category?CategoryID=1132">運動手錶</a></li>
		</ul>
	</div>

##[box-category4]

	<div class="box-category4" style="background:#ccc;"></div>
*/


//category box model settings
.box-category,
.box-category2,
.box-category3,
.box-category4 {
	@include fontSize($defFont);

	&,
	& ul,
	& .divider {
		@include float(left);
	}

	&,
	& a,
	& a:hover,
	& a:visited,
	& a:active {
		color: #fff;
	}

	& a:hover { color:#fff; }


	.divider {
		width: 1px;
		border-left: 1px dashed #fff;
	}
}


.box-category {
	width: 170px;
	height: 152px;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 15px;

	ul {
		margin-left: 10px;
		li { margin-top: 20px; }
	}

	.divider {
		height: 150px;
		margin-left: 10px;
		margin-right: 5px;
	}
}

.box-category2 {
	width: 388px;
	height: 135px;
	padding:20px 13px;
	@include border-radius(10px);
	background-color: #EC7375;


	a { border-bottom: 0; }

	ul {
		margin-left: 25px;
		li { margin-bottom: 20px; }

	}

	.divider {
		height: 135px;
		margin-left: 35px;
		margin-right: 10px;
	}

}


.box-category3 {
	width: 175px;
	height: auto;
	padding:20px 13px;
	@include border-radius(10px);

	a { border-bottom:0; }
	ul { margin-left: 35px; }
	ul li { margin: 20px 0; }
}

.box-category4 {
	width: 366px;
	height: 86px;
	padding:20px 13px;

	a { border-bottom: 0; }
	ul { margin-left: 30px; }
	ul li {	margin-bottom: 20px; }

	.divider {
		height: 90px;
		margin-left: 40px;
		margin-right: 15px;
	}
}

//品名價格欄位設計
.caption,
.caption2,
.caption3,
.caption4,
.caption5,
.caption6 {
	display: block;
	width: 94%;
	padding: 5px 3%;
	overflow : hidden;
	@include box-sizing(border-box);

	@include fontSize($defFont);
	color: $font-color;
	line-height: 18px;
	text-align: left;

}


.caption { height: 18px; }

.caption2 { height: 36px; }

.caption3 {
	height: 54px;
	padding: 0 5px;

	@include fontSize($defFont - 2);
}

.caption4 {
	height:36px;

	@include fontSize($defFont - 2);
	text-align: right;
}

.caption5 {
	height: 192px;
	text-align: right;
}

.caption6 {
	width: inherit;
    height: inherit;
}

.price,
.price2 {
	margin-top: 0px;
	padding: 5px;
	height: 10px;
	overflow: hidden;

	@include fontSize($defFont);
	color: $font-red-color;
	text-align: right;
	white-space: pre-line;
}

.price2 {
	@include float(right);
	display: inline-block;

	@include fontSize($defFont - 2);
	color:$font-gray;
	font-weight: bold;
	text-decoration: line-through;
}

.border {
	border: 1px solid #D5D5D5;
}

/*#[section-icons]首頁櫥窗分類圖標/館分類頁標題圖標設定
*/

.banner-title i,
.section .icon i {
    @extend %section-icons;

    @for $i from 1 through length($cates-name) {
        &.listi#{$i} { background-position: 0px (($i - 1) * -34)#{px}; }
    }
}

/*#[banner-slide]輪播廣告共用樣式
*/

.banner,
.banner-title + .banner {
    @extend  %banner;

	.tab {
		&, & ul li { background-color:rgba(217, 217, 217, .8); }

	}
}


/*#[wholeTabs] 共用頁籤樣式 */

.TabArea {
    @extend %tabs;
}

/*#[Password-Rule-Box]密碼規則方塊模組樣式

	<div class="pswRuleBox" id="ShowPasswordRule" style="opacity:1; display: block;">
		<ol>
			<li class="ruleTerm">為保證您的個資安全，請確認您的密碼必須符合以下條件：</li>
			<li><input id="pwdcheck_email" class="pwdcheck" type="checkbox" disabled="">帳密不得相同</li>
			<li><input id="pwdcheck_length" class="pwdcheck" type="checkbox" disabled="">密碼長度為6~16字元</li>
			<li><input id="pwdcheck_repeat" class="pwdcheck" type="checkbox" disabled="">新舊密碼不相同</li>
		</ol>
	</div>

*/

.pswRuleBox {
	opacity:0;
	display:none;

	margin-left:5px;
	padding-bottom: 5px;
	width:180px;
	background:#fff;
	border:1px solid $gray-shade-m;

	@include fontSize($defFont - 3);
	line-height:30px;

	li {
		margin-left:3px;
		height:30px;

		&.ruleTerm {
			margin-left:0;
			margin-bottom:5px;
			padding:3px 5px;
			height:initial;
			background: $link-color;
			line-height:20px;
			color:#fff;
		}
	}

	img,
	input[type="checkbox"] {
		margin-right:3px;
		width:16px;
		height:16px;
		border-color:$gray-shade-d;
	}
}

/*#[error-Msg]錯誤訊息提示

	<span class="errMsg" id="PassWordRuleSay" style="display: none">error texts.</span>

*/
