/*##[Floating-Account]我的帳戶(浮動)

    <div id="FloatingAccount" class="aside-icon FloatingBubble FloatingAccount" style="display: block;">
        <div class="panel">
            <div class="FloatingTit service">
            <div class="shoppingCart"><a href="javascript:void(0);"><div class="count" id="neSCBody">20</div></a></div>
                <div id="FloatingSwitch" class="text">我的帳戶</div>
                <div class="pageTop"><i class="icon"><img src="img/Icon/GoToTop.png"></i><br><span>頁頂</span></div>
            </div>
            <div class="icon FloatingCon">
                <ul>
                    <li><a href="javascript:void(0);"><i class="icon listi5"></i><div class="text">我的最愛</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi3"></i><div class="text">折價券</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi4"></i><div class="text">我的訂單</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi1"></i><div class="text">帳戶管理</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi6"></i><div class="text">登出</div></a></li>
                </ul>
            </div>
        </div>
    </div>

*/

#FloatingAccount {
    @include pie-clearfix;

    @include translate3d(0,0,0);
    @include transition-duration(0.5s);

    &.active {
        @include translate3d(-90px,0,0);
    }

    .service {
        @include float(left);
        position: relative;
        display: block;
        width: 40px;
        height: auto;
        padding:5px 0;
        height:auto;
        background-color: $orange-m;
        @include border-top-left-radius(5px);
        @include border-bottom-left-radius(5px);
        @include box-shadow(-2px 1px 5px $gray-shade-d);
    }

    .FloatingCon {
        @include float(left);
        @include quickMenuStyle;
        position: relative;
        display: none;
        width: 90px;
        height: auto;

        & > ul > li {
            & > a {
                position: relative;
                display:block;
                padding:8px 0;
                border-bottom:0;
            }

            & > a > i {
                position: relative;
                margin: 0 auto;
                display: block;
            }
        }

        @extend %accountControlMenus;
    }

    .service .text {
        position: relative;
        padding: 10px 12px;

        @include fontSize($defFont);
        line-height: 17px;
        color:#fff;
    }

    &.aside-icon {
        position:fixed;
        display:none;
	    z-index:9;
        top:30%;
        right:0;
        cursor:pointer;
    }

    .shoppingCart {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(#{$img-path}shoppingCart.png) no-repeat;
        background-position: 1px 4px;
        border-bottom: 1px solid #fff;
    }

    .count {
        width: 100%;
        height: 100%;

        @include fontSize($defFont);
        text-align: center;
        line-height: 30px;
        color: #fff;
    }

    .pageTop {
        position: relative;
        width: 40px;
        height:40px;

        border-top: 1px solid #fff;

        .icon {
            position: absolute;
            display: block;
            top: 5px;
            left: 50%;
            margin-left: -8px;
            width: 16px;
            height: 16px;

            text-align: center;
        }

        span {
            position: absolute;
            bottom: 0px;
            display: block;
            width: 100%;
            height: 20px;
            opacity: 0.6;

            @include fontSize($defFont - 2);
            line-height: 20px;
            text-align: center;
            color:#fff;
        }

    }
}


/*##[elevator]左側浮動分類選單(電梯)

    <div id="elevatorWindowArea" class="elevator">
        <div class="menu">
            <div class="up">
                <a href="javascript:void(0)">
                    <div class="text">頁頂</div>
                </a>
            </div>
            <div id="elevatorWinGroup" class="group">
                <div class="text active"><a href="javascript:void(0)">美妝保養</a></div>
                <div class="text"><a href="javascript:void(0)">國際名品</a></div>
                <div class="text"><a href="javascript:void(0)">設計風尚</a></div>
                <div class="text"><a href="javascript:void(0)">生活家電</a></div>
                <div class="text"><a href="javascript:void(0)">戶外休旅</a></div>
                <div class="text"><a href="javascript:void(0)">運動健身</a></div>
                <div class="text"><a href="javascript:void(0)">電腦週邊</a></div>
                <div class="text"><a href="javascript:void(0)">數位３Ｃ</a></div>
                <div class="text"><a href="javascript:void(0)">居家用品</a></div>
                <div class="text"><a href="javascript:void(0)">親子寵物</a></div>
                <div class="text"><a href="javascript:void(0)">保健養生</a></div>
                <div class="text"><a href="javascript:void(0)">樂活食尚</a></div>
                <div class="text"><a href="javascript:void(0)">美國新蛋直購</a></div>
            </div>
            <div class="down">
                <a href="javascript:void(0)">
                    <div class="text">頁尾</div>

                </a>
            </div>
        </div>
    </div>

*/

.elevator {
    display: none;
    position: fixed;
    z-index: 2;
    margin-left: -55px;
    width: 35px;
    height: auto;

    .text {
        width: 35px;
        height: 31px;
        overflow: hidden;
        margin-bottom: 5px;
        padding: 2px 0;

        background: $gray-shade-lw;
        border: 1px solid $gray-shade-m;

        &.active,
        &:hover {
            background: $orange-m;
            border-color: $orange-m;

            a { color: #fff; }
        }
    }

    .text a {
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 0px;

        @include fontSize($defFont - 3);
        text-align: center;
        line-height: 16px;
        color: $font-color;
    }

    .up .text,
    .down .text {
        background: $gray-shade-m;
        border: 1px solid $gray-shade-lw;

        @include fontSize($defFont - 2);
        color: #fff;
        line-height: 1.2em;
        text-align: center;

        &:before,
        &:after {
            display: block;
            content: " ";
            background-repeat: no-repeat;
            background-position: 8px center;
        }
    }

    .up .text:before {
        height: 12px;
        background-image: url(#{$img-path}Icon/navTop.png);
    }

    .down .text:after {
        height: 12px;
        background-image: url(#{$img-path}Icon/navDown.png);
    }
}
