/*###[header]Header版面樣式

    <header class="header">
    <div class="header-limiter">
        <h1 class="logo"><a href="/"><img src="http://www.newegg.com.tw/Themes/img/Common/logo.jpg"></a></h1>
        <div class="group">
            <div class="IDheight">
                <div class="welcome orangetxt">Hi, XXXX@OOO.com，您好！</div>
            </div>
            <div class="ad" data-url="/AdvEvent/Partial_AdvHeaderBanner" style="text-align:center">
               <a href="/Activity/wonderfulworld_0801" target="_blank"><img src="https://ssl-images.newegg.com.tw/pic/AdvImage/6/29/35/993/StartImg.JPG"></a>
            </div>
        </div>
        <div class="icon quickMenu">
            <ul>
                    <li><a href="/MyAccount/Login"><i class="icon listi6"></i><div class="text">登入/註冊</div></a></li>
                <li><a href="/Activity/Activity"><i class="icon listi2"></i><div class="text">優惠活動</div></a></li>
                <li><a href="/Service/FAQ"><i class="icon listi3"></i><div class="text">服務說明</div></a></li>
                <li id="headerCartBtn"><a href="/Cart"><i class="icon listi4"><span id="neSCHead" class="num"></span></i><div class="text">購物車</div></a></li>

                    <li id="dropAccount" class="divider-none"><a href="javascript:void(0)"><i class="icon listi5"></i><div class="text">我的帳戶</div></a>
                        <div class="dropCon panel" style="display:none;">

                                <ul>
                                    <li><a href="/Cart/WishCart"><i class="icon listi5"></i><div class="text">我的最愛</div></a></li>
                                    <li><a href="/MyAccount/Coupon"><i class="icon listi3"></i><div class="text">折價券</div></a></li>
                                    <li><a href="/MyAccount/Order"><i class="icon listi4"></i><div class="text">我的訂單</div></a></li>
                                    <li><a href="/MyAccount"><i class="icon listi1"></i><div class="text">帳戶管理</div></a></li>
                                    <li><a href="/Logout"><i class="icon listi6"></i><div class="text">登出</div></a></li>
                                </ul>

                        </div>
                    </li>

            </ul>
            <a href="https://www.facebook.com/twnewegg" target="_blank"><div class="fb"></div></a>
            <a href="#"><div class="music" id="siteMusic"></div></a>
        </div>
    </div>
    </header>

    <div class="topper">
    <div class="topper-limiter">
        <div class="ad">
            <a href="/VotingActivity/ShareGift_0807"><img src="http://www.newegg.com.tw/Themes/img/Common/topper-ad3.jpg" alt="入會好禮" title="入會好禮"></a>
            <a href="/StoreUS?StoreID=737"><img src="http://www.newegg.com.tw/Themes/img/Common/topper-ad2.jpg" alt="美蛋直購館" title="美蛋直購館"></a>
        </div>
        <div class="searchbar">
		    <form method="get" action="/search">
		        <input type="text" class="input" id="searchword" name="searchword" size="21" maxlength="120" placeholder="請輸入商品關鍵字">
                <input type="submit" value=" " class="btn">
		    </form>
        </div>

        <div class="keyword">
            <ul>
                <li class="word"><a href="/Category?CategoryID=1380">電影破風款</a></li>
                <li class="word"><a href="/search?searchword=%E7%8D%A8%E8%B3%A3">獨賣</a></li>
                <li class="word"><a href="/Category?CategoryID=1450">SALE</a></li>
                <li class="word"><a href="/search?searchword=%E9%98%B2%E8%9A%8A">防蚊</a></li>
                <li class="word"><a href="/Category?CategoryID=782">厚切沙朗</a></li>
                <li class="word"><a href="/Category?CategoryID=527">運動穿戴</a></li>
                <li class="word"><a href="/search?searchword=x205TA">asus</a></li>
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>


*/

//header
.header .welcome {
    @include fontSize($defFont - 4);
    line-height: 20px;
    text-indent: 0px;
    letter-spacing: 2px;
    margin-left: 11px;

    color: #F37225;
}

.header .icon a {
    color: #000;
    text-decoration: none;

    &:hover {
    	color: #F37225;
    }
}


.header .icon li {
    text-align: center;
    border-right: thin solid #000;
}

.header .icon li i {
    background: url(#{$img-path}header-icon.png) no-repeat;

    &.listi1 { background-position: 0 1px; }
    &.listi2 { background-position: 0 -29px; }
    &.listi3 { background-position: 0 -59px; }
    &.listi4 { background-position: 0 -89px; }
    &.listi5 { background-position: 0 -119px; }
    &.listi6 { background-position: 0 -150px; }
}

.header {
    .fb {
        background: url(#{$img-path}fb.png)  no-repeat;
    }

    .music {
        background: url(#{$img-path}music-off.png) no-repeat;
    }
}

.quickMenu ul li {
    a {
        color: #888;
        text-align: center;
    }

    i.icon {
    	background-image:url(#{$img-path}header-icon.png);

        &.listi1 {background-position:0 -0px}
        &.listi2 {background-position:0 -29px}
        &.listi3 {background-position:0 -59px}
        &.listi4 {background-position:0 -89px;}
        &.listi5 {background-position:0 -119px}
    }

    i .num { color:#ec8b54; }

    &+li:after { border-left:1px solid #8b8b8b; }

    //hover & active
    &:hover,
    &.active {
         &,
         &+li,
         &+li:after,
         &:after {
             border-color:#ec8b54;
         }

         @include quickMenuStyle;
         background-color:#ec8b54;

         &+li:after {
             top:0;
             height:70px;
         }

         i.icon { background-image:url(#{$img-path}header-icon-hover.png); }

         i .num { color:#fff; }
    }

     li {
         &,
         & a {
             @include quickMenuStyle;
         }

         & a { display:block; }

         i {
             display:block;
             margin:0 auto;
         }

         i.icon {
             background-repeat:no-repeat;
             background-position:center top;
         }
     }
}

//header-panel
.header .panel {
	background-color: #fff;

    .icon { text-align: center; }

    .icon a {
    	color: #000;
    	text-decoration: none;

        &:hover { color: #F37225; }
    }


    .icon ul li i {
        background: url(../img/panel-icon.png) no-repeat;

        &.listi1 { background-position: 0 0px; }
        &.listi2 { background-position: 0 -50px; }
        &.listi3 { background-position: 0 -100px; }
        &.listi4 { background-position: 0 -150px; }
        &.listi5 { background-position: 0 -200px; }
        &.listi6 { background-position: 0 -250px; }
    }

    .icon ul li .text {
    	color: #000;
    	@include fontSize($defFont - 4);
    }

}


//topper
.topper .searchbar {
    .input, .input2 {
        @include fontSize($defFont - 3);
        color: $font-color;
        border: thin solid #fff;
    }

    .input {
    	padding: 6px 15px;
    	border: thin solid #fff;
    }

    .input2 {
        padding: 7px 15px;
        background-color: #F0F0F0;
    }

    .btn {
        cursor: pointer;
        color: #fff;
        border: thin solid $link-color;
        background-image: url(#{$img-path}searchBtn.jpg);
   }

   .keyword {
        @include fontSize($defFont - 3);
        word-spacing: 10px;
        letter-spacing: 2px;
   }

   .keyword .word {
        text-align:center;
        border-right:1.5px solid #5E5E63;

        &:last-child { border:none; }

        a{
            color:#5E5E63;
            border-bottom:none;

            &:hover { color:#f37225; }
        }
   }

}

.topper {
    a {
       color: #5E5E63;
       text-decoration: none;
    }

    .dropdown {
        @include float(left);
        width: 206px;
        height: 20px;

        background-color: #E6E4E6;
        text-align: center;
        color: #5E5E63;
        font-size: 16px;
    }

    .top,
    .down {
        line-height: 20px;
    	color: #000;
    	text-indent: 0px;
    	text-align: center;
        @include fontSize($defFont + 4);

    }

    .top {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .down {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
