/*
##[header]Header版面樣式

    <header class="header">
        <div class="header-limiter">
            <h1 class="logo"><a href="javascript:void(0);"><img src="http://www.newegg.com.tw/Themes/img/Common/logo.jpg"></a></h1>
            <div class="group">
                <div class="IDheight">
                    <div class="welcome orangetxt">Hi, XXXX@OOO.com，您好！</div>
                </div>
                <div class="ad" data-url="/AdvEvent/Partial_AdvHeaderBanner" style="text-align:center">
                   <a href="javascript:void(0);" target="_blank"><img src="http://placehold.it/300x50"></a>
                </div>
            </div>
            <div class="icon quickMenu">
                <ul>
                        <li><a href="javascript:void(0);"><i class="icon listi6"></i><div class="text">登入/註冊</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi2"></i><div class="text">優惠活動</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi3"></i><div class="text">服務說明</div></a></li>
                    <li id="headerCartBtn"><a href="javascript:void(0);"><i class="icon listi4"><span id="neSCHead" class="num">10</span></i><div class="text">購物車</div></a></li>
                    <li id="dropAccount" class="divider-none"><a href="javascript:void(0);"><i class="icon listi5"></i><div class="text">我的帳戶</div></a>
                        <div class="dropCon panel" style="display:block;">

                                <ul>
                                    <li><a href="javascript:void(0);"><i class="icon listi5"></i><div class="text">我的最愛</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi3"></i><div class="text">折價券</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi4"></i><div class="text">我的訂單</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi1"></i><div class="text">帳戶管理</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi6"></i><div class="text">登出</div></a></li>
                                </ul>

                        </div>
                    </li>

                </ul>
                <a href="javascript:void(0);" target="_blank"><div class="fb"></div></a>
                <a href="javascript:void(0);"><div class="music" id="siteMusic"></div></a>
            </div>
        </div>
        </header>

        <div class="topper">
        <div class="topper-limiter">
            <div class="ad">
                <a href="javascript:void(0);"><img src="http://www.newegg.com.tw/Themes/img/Common/topper-ad3.jpg" alt="入會好禮" title="入會好禮"></a>
                <a href="javascript:void(0);"><img src="http://www.newegg.com.tw/Themes/img/Common/topper-ad2.jpg" alt="美蛋直購館" title="美蛋直購館"></a>
            </div>
            <div class="searchbar">
    		    <form method="get" action="/search">
    		        <input type="text" class="input" id="searchword" name="searchword" size="21" maxlength="120" placeholder="請輸入商品關鍵字">
                    <input type="submit" value=" " class="btn">
    		    </form>
            </div>

            <div class="keyword">
                <ul>
                    <li class="word"><a href="javascript:void(0);">電影破風款</a></li>
                    <li class="word"><a href="javascript:void(0);">獨賣</a></li>
                    <li class="word"><a href="javascript:void(0);">SALE</a></li>
                    <li class="word"><a href="javascript:void(0);">防蚊</a></li>
                    <li class="word"><a href="javascript:void(0);">厚切沙朗</a></li>
                    <li class="word"><a href="javascript:void(0);">運動穿戴</a></li>
                    <li class="word"><a href="javascript:void(0);">asus</a></li>
                </ul>
            </div>
        </div>
    </div>

*/

//header
.header .welcome {
    @include fontSize($defFont - 4);
    line-height: 20px;
    text-indent: 0px;
    letter-spacing: 2px;
    margin-left: 11px;

    color: #F37225;
}

.header .icon a {
    color: #000;
    text-decoration: none;

    &:hover {
    	color: #F37225;
    }
}


.header .icon li {
    text-align: center;
    border-right: thin solid #000;
}

.header .icon li i {
    background: url(#{$img-path}header-icon.png) no-repeat;

    @for $i from 1 through 5 {
        &.listi#{$i} { background-position: 0 (-25 * ($i - 1))#{px}; }
    }
}

.header {
    .fb {
        background: url(#{$img-path}fb.png)  no-repeat;
    }

    .music {
        background: url(#{$img-path}music-off.png) no-repeat;
    }
}

.quickMenu ul li {
    a {
        color: #888;
        text-align: center;
    }

    i.icon {
    	background-image:url(#{$img-path}header-icon.png);

        @for $i from 1 through 4 {
            &.listi#{$i} { background-position: 0 (-25 * ($i - 1))#{px}; }
        }
    }

    i .num { color:#ec8b54; }

    &+li:after { border-left:1px solid #8b8b8b; }

    //hover & active
    &:hover,
    &.active {
         &,
         &+li,
         &+li:after,
         &:after {
             border-color:#ec8b54;
         }

         @include quickMenuStyle;
         background-color:#ec8b54;

         & > a {
             i.icon {
                 @for $i from 1 through 5 {
                     &.listi#{$i} { background-position: -25px (-25 * ($i - 1))#{px}; }
                 }
             }

             i .num { color:#fff; }
         }

         &+li:after > a {
             top:0;
             height:70px;
         }




    }

    li {
        &,
        & a {
            @include quickMenuStyle;
        }

        & a { display:block; }

        i {
            display:block;
            margin:0 auto;
        }

        i.icon {
            background-repeat:no-repeat;
            background-position:center top;
        }
    }
}

//header-panel
.header .panel {
	background-color: #fff;

    .icon { text-align: center; }

    .icon a {
    	color: #000;
    	text-decoration: none;

        &:hover { color: #F37225; }
    }


    .icon ul li i {
        background: url(#{$img-path}panel-icon.png) no-repeat;

        @for $i from 1 through 5 {
            &.listi#{$i} { background-position: 0 (-30 * ($i - 1))#{px}; }
        }
    }

    .icon ul li .text {
    	color: #000;
    	@include fontSize($defFont - 4);
    }

}

//myAccount dropDown menu
.quickMenu .dropCon {
    @extend %accountControlMenus;
}





//topper
.topper .searchbar {
    .input, .input2 {
        @include fontSize($defFont - 3);
        color: $font-color;
        border: thin solid #fff;
    }

    .input {
    	padding: 6px 15px;
    	border: thin solid #fff;
        background:#fff;
    }

    .input2 {
        padding: 7px 15px;
        background-color: #F0F0F0;
    }

    .btn {
        cursor: pointer;
        color: #fff;
        border: thin solid $link-color;
        background-image: url(#{$img-path}searchBtn.jpg);
   }
}

//keywords settings
.topper .keyword {
    @include fontSize($defFont - 3);
    word-spacing: 10px;
    letter-spacing: 2px;

    .word {
         text-align:center;
         border-right:1.5px solid #5E5E63;

         &:last-child { border:none; }

         a{
             color:#5E5E63;
             border-bottom:none;

             &:hover { color:#f37225; }
         }
    }
}

.topper {
    a {
       color: $font-color;
       text-decoration: none;
       border-bottom: 0;
    }

    .dropdown {
        @include float(left);
        width: 206px;
        height: 20px;

        background-color: #E6E4E6;
        text-align: center;
        color: #5E5E63;
        font-size: 16px;
    }

    .top,
    .down {
        line-height: 20px;
    	color: #000;
    	text-indent: 0px;
    	text-align: center;
        @include fontSize($defFont + 4);

    }

    .top {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .down {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}


/*
##[pullDown]側邊主選單模組
    <div class="pullDown">
        <ul class="pullDownList">
            <li>
                <a href="javascript:void(0);"><i class="storeDesign"></i>設計風尚</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeFashion"></i>國際名品</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeBeauty"></i>美妝保養</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeHealthcare"></i>保健養生</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeFoods"></i>樂活食尚</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeSport"></i>運動健身</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeOutdoor"></i>戶外休旅</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeLovely"></i>親子寵物</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeLiving"></i>居家用品</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeAppliance"></i>生活家電</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeDigital"></i>數位3C</a>
                <span></span>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="storeComputer"></i>電腦週邊</a>
                <span></span>
            </li>
        </ul>

        <div id="SecMenu">
            <ul class="pullDownListSec">
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題1<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題2<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題3<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題4<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題5<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題6<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題7<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題8<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題9<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題10<i></i></a></li>
            </ul>
            <ul class="pullDownListSec" style="display: none;">
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題1<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題2<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題3<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題4<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題5<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題6<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題7<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題8<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題9<i></i></a></li>
                <li class="liBG"><span class="arrowhover"></span><a href="">第三層選單標題10<i></i></a></li>
            </ul>

            <div class="yMenuListCon">
                <div class="yMenuListConin storeDesign">
                    <div class="yMenuColLCinList">

                        <div class="yMenuLCinList">
                            <h3>第三層選單標題1</h3>
                            <p>
                                <a href="javascript:void(0);">第三層選單子選項1</a>
                                <a href="javascript:void(0);">第三層選單子選項2</a>
                                <a href="javascript:void(0);">第三層選單子選項3</a>
                                <a href="javascript:void(0);">第三層選單子選項4</a>
                                <a href="javascript:void(0);">第三層選單子選項5</a>
                                <a href="javascript:void(0);">第三層選單子選項6</a>
                                <a href="javascript:void(0);">第三層選單子選項7</a>
                                <a href="javascript:void(0);">第三層選單子選項8</a>
                                <a href="javascript:void(0);">第三層選單子選項9</a>
                                <a href="javascript:void(0);">第三層選單子選項10</a>
                            </p>
                            <div class="MenuListImg">
                                <a href="javascript:void(0);" target="_blank">
                                    <img src="https://ssl-images.newegg.com.tw/pic/category/設計風尚/活動SHOKAY.png">
                                </a>
                            </div>
                        </div>

                        <div class="yMenuLCinList" style="display:none;">
                            <h3>第三層選單標題2</h3>
                            <p>
                                <a href="javascript:void(0);">第三層選單子選項1</a>
                                <a href="javascript:void(0);">第三層選單子選項2</a>
                                <a href="javascript:void(0);">第三層選單子選項3</a>
                                <a href="javascript:void(0);">第三層選單子選項4</a>
                                <a href="javascript:void(0);">第三層選單子選項5</a>
                                <a href="javascript:void(0);">第三層選單子選項6</a>
                                <a href="javascript:void(0);">第三層選單子選項7</a>
                                <a href="javascript:void(0);">第三層選單子選項8</a>
                                <a href="javascript:void(0);">第三層選單子選項9</a>
                                <a href="javascript:void(0);">第三層選單子選項10</a>
                            </p>
                            <div class="MenuListImg">
                                <a href="javascript:void(0);" target="_blank">
                                    <img src="https://ssl-images.newegg.com.tw/pic/category/設計風尚/活動SHOKAY.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="banner-ad2" name="advBannerTopLeft" data-url="/AdvEvent/Partial_AdvLeftTopBanner">
        <a href="javascript:void(0);" target="_blank"><img src="http://placehold.it/206x36"></a>
    </div>
*/

.pullDown .pullDownList {
    background-color: $gray-shade-lw;

    li {
        line-height: 40.5px;

        & > a {
        	color: $font-color;
            @include fontSize($defFont + 4);
        	text-decoration: none;
        }

        i {
            -webkit-transition: margin-left .2s linear;
            -moz-transition: margin-left .2s linear;
            -o-transition: margin-left .2s linear;

            background:url(#{$img-path}Icon/Store/category-icons.png) no-repeat;

            @for $i from 1 through length($cates-name) {
                $name: nth($cates-name, $i);
                &.store#{$name} { background-position: 0px (-25 * ($i - 1))#{px}; }
            }
        }


        //hover & menulihover class settings
        &:hover,
        &.menulihover {
            background: $orange-ml;

            a {
                color: #fff;
                &:before { background: url(#{$img-path}Icon/arrow_hover.png) center no-repeat; }
            }

            i {
                @for $i from 1 through length($cates-name) {
                    $name: nth($cates-name, $i);
                    &.store#{$name} { background-position: -25px (-25 * ($i - 1))#{px}; }
                }
            }

        }

    }
}


#SecMenu {
    & > ul,
    & > div:before {
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: $gray-shade-l;
        background-color: #fff;
    }
}

.pullDownListSec {
    background: url(#{$img-path}navcolor.gif) repeat-y;
    @include fontSize($defFont);

    li {
        line-height: 35px;

        a { color: $font-color; }

        //hover & menulihover class settings
        &:hover,
        &.selected {
            background: $orange-ml;

            a { color: #fff; }

            &:before {
                background: url(#{$img-path}Icon/arrow_hover.png) center no-repeat;
            }

        }

    }

}

//子選單內容模組樣式設計
.yMenuLCinList {
    h3 {
        color: $font-color;
        @include fontSize($defFont + 3);
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0.5px;
    }

    p {
        @include fontSize($defFont - 2);

        a {
            border-left: 1px solid $gray-shade-d;
            text-decoration: none;
            color: $font-color;
        }

        a:hover { color: $orange-ml; }
    }
}





/*##[pullDown]側邊欄選單模組-下拉樣式
    <div class="mainMenuBox" style="margin-left: 0;">
        <div class="menudropDown">全館分類</div>
        <div id="mainMenu" class="mainMenu pullDown">
            <ul class="pullDownList">
                <li categoryid="1279" class="">
                    <a href="javascript:void(0);"><i class="storeDesign"></i>設計風尚</a>
                    <span></span>
                </li>
                <li categoryid="734" class="">
                    <a href="javascript:void(0);"><i class="storeFashion"></i>國際名品</a>
                    <span></span>
                </li>
                <li categoryid="1929" class="">
                    <a href="javascript:void(0);"><i class="storeBeauty"></i>美妝保養</a>
                    <span></span>
                </li>
                <li categoryid="1930" class="">
                    <a href="javascript:void(0);"><i class="storeHealthcare"></i>保健養生</a>
                    <span></span>
                </li>
                <li categoryid="736" class="">
                    <a href="javascript:void(0);"><i class="storeFoods"></i>樂活食尚</a>
                    <span></span>
                </li>
                <li categoryid="735" class="">
                    <a href="javascript:void(0);"><i class="storeSport"></i>運動健身</a>
                    <span></span>
                </li>
                <li categoryid="7" class="">
                    <a href="javascript:void(0);"><i class="storeOutdoor"></i>戶外休旅</a>
                    <span></span>
                </li>
                <li categoryid="1928" class="">
                    <a href="javascript:void(0);"><i class="storeLovely"></i>親子寵物</a>
                    <span></span>
                </li>
                <li categoryid="6" class="">
                    <a href="javascript:void(0);"><i class="storeLiving"></i>居家用品</a>
                    <span></span>
                </li>
                <li categoryid="3" class="">
                    <a href="javascript:void(0);"><i class="storeAppliance"></i>生活家電</a>
                    <span></span>
                </li>
                <li categoryid="264" class="">
                    <a href="javascript:void(0);"><i class="storeDigital"></i>數位3C</a>
                    <span></span>
                </li>
                <li categoryid="1" class="">
                    <a href="javascript:void(0);"><i class="storeComputer"></i>電腦週邊</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
*/

.mainMenuBox {
    position: relative;
    margin-left: -58.5px;
    width: 206px;
    height: 25px;
}

.menudropDown {
    position: relative;
    z-index: 9;
    width: 206px;
    height: 25px;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    background: url(#{$img-path}Icon/arrowUpDown.png) #d2d2d2 150px 7px no-repeat;

    letter-spacing: 2px;
    line-height: 26px;
    text-align: center;
    color: $font-color;
    cursor: pointer;

    @include box-sizing(border-box);

    &:hover {
        color:#fff;
    }
}

#mainMenu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 100;
}

/*##[Floating-Account]我的帳戶(浮動)

    <div id="FloatingAccount" class="aside-icon FloatingBubble FloatingAccount" style="display: block;">
        <div class="panel">
            <div class="FloatingTit service">
            <div class="shoppingCart"><a href="javascript:void(0);"><div class="count" id="neSCBody">20</div></a></div>
                <div id="FloatingSwitch" class="text">我的帳戶</div>
                <div class="pageTop"><i class="icon"><img src="img/Icon/GoToTop.png"></i><br><span>頁頂</span></div>
            </div>
            <div class="icon FloatingCon">
                <ul>
                    <li><a href="javascript:void(0);"><i class="icon listi5"></i><div class="text">我的最愛</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi3"></i><div class="text">折價券</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi4"></i><div class="text">我的訂單</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi1"></i><div class="text">帳戶管理</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi6"></i><div class="text">登出</div></a></li>
                </ul>
            </div>
        </div>
    </div>

*/

#FloatingAccount {
    @include pie-clearfix;

    @include translate3d(0,0,0);
    @include transition-duration(0.5s);

    &.active {
        @include translate3d(-90px,0,0);
    }

    .service {
        @include float(left);
        position: relative;
        display: block;
        width: 40px;
        height: auto;
        padding:5px 0;
        height:auto;
        background-color: $orange-m;
        @include border-top-left-radius(5px);
        @include border-bottom-left-radius(5px);
        @include box-shadow(-2px 1px 5px $gray-shade-d);
    }

    .FloatingCon {
        @include float(left);
        @include quickMenuStyle;
        position: relative;
        display: none;
        width: 90px;
        height: auto;

        & > ul > li {
            & > a {
                position: relative;
                display:block;
                padding:8px 0;
                border-bottom:0;
            }

            & > a > i {
                position: relative;
                margin: 0 auto;
                display: block;
            }
        }

        @extend %accountControlMenus;
    }

    .service .text {
        position: relative;
        padding: 10px 12px;

        @include fontSize($defFont);
        line-height: 17px;
        color:#fff;
    }

    &.aside-icon {
        position:fixed;
        display:none;
	    z-index:9;
        top:30%;
        right:0;
        cursor:pointer;
    }

    .shoppingCart {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(#{$img-path}shoppingCart.png) no-repeat;
        background-position: 1px 4px;
        border-bottom: 1px solid #fff;
    }

    .count {
        width: 100%;
        height: 100%;

        @include fontSize($defFont);
        text-align: center;
        line-height: 30px;
        color: #fff;
    }

    .pageTop {
        position: relative;
        width: 40px;
        height:40px;

        border-top: 1px solid #fff;

        .icon {
            position: absolute;
            display: block;
            top: 5px;
            left: 50%;
            margin-left: -8px;
            width: 16px;
            height: 16px;

            text-align: center;
        }

        span {
            position: absolute;
            bottom: 0px;
            display: block;
            width: 100%;
            height: 20px;
            opacity: 0.6;

            @include fontSize($defFont - 2);
            line-height: 20px;
            text-align: center;
            color:#fff;
        }

    }
}


/*##[elevator]左側浮動分類選單(電梯)

    <div id="elevatorWindowArea" class="elevator">
        <div class="menu">
            <div class="up" onclick="elevatorAction(1); return false;">
                <a href="javascript:void(0)"><div class="text">頁頂</div></a>
            </div>
            <div id="elevatorWinGroup" class="group">
                <div class="text active"><a href="javascript:void(0)">設計風尚</a></div>
                <div class="text"><a href="javascript:void(0)">國際名品</a></div>
                <div class="text"><a href="javascript:void(0)">美妝保養</a></div>
                <div class="text"><a href="javascript:void(0)">保健養生</a></div>
                <div class="text"><a href="javascript:void(0)">樂活食尚</a></div>
                <div class="text"><a href="javascript:void(0)">運動健身</a></div>
                <div class="text"><a href="javascript:void(0)">戶外休旅</a></div>
                <div class="text"><a href="javascript:void(0)">生活家電</a></div>
                <div class="text"><a href="javascript:void(0)">居家用品</a></div>
                <div class="text"><a href="javascript:void(0)">親子寵物</a></div>
                <div class="text"><a href="javascript:void(0)">數位３Ｃ</a></div>
                <div class="text"><a href="javascript:void(0)">電腦周邊</a></div>
                <div class="text"><a href="javascript:void(0)">海外直購</a></div>
            </div>
            <div class="down" onclick="elevatorAction(2); return false;">
                <a href="javascript:void(0)"><div class="text">頁尾</div></a>
            </div>
        </div>
    </div>

*/

.elevator {
    //display: none;
    position: fixed;
    left: 50%;
    z-index: 2;
    margin-left: -640px;
    width: 37px;
    height: auto;
}
