/*
##[header]Header版面樣式

    <header class="header">
        <div class="header-limiter">
            <h1 class="logo"><a href="javascript:void(0);"><img src="http://www.newegg.com.tw/Themes/img/Common/logo.jpg"></a></h1>
            <div class="group">
                <div class="IDheight">
                    <div class="welcome orangetxt">Hi, XXXX@OOO.com，您好！</div>
                </div>
                <div class="ad" data-url="/AdvEvent/Partial_AdvHeaderBanner" style="text-align:center">
                   <a href="javascript:void(0);" target="_blank"><img src="http://placehold.it/300x40"></a>
                </div>
            </div>
            <div class="icon quickMenu">
                <ul>
                        <li><a href="javascript:void(0);"><i class="icon listi6"></i><div class="text">登入/註冊</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi2"></i><div class="text">優惠活動</div></a></li>
                    <li><a href="javascript:void(0);"><i class="icon listi3"></i><div class="text">服務說明</div></a></li>
                    <li id="headerCartBtn"><a href="javascript:void(0);"><i class="icon listi4"><span id="neSCHead" class="num"></span></i><div class="text">購物車</div></a></li>
                    <li id="dropAccount" class="divider-none active"><a href="javascript:void(0)"><i class="icon listi5"></i><div class="text">我的帳戶</div></a>
                        <div class="dropCon panel" style="display:block;">

                                <ul>
                                    <li><a href="javascript:void(0);"><i class="icon listi5"></i><div class="text">我的最愛</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi3"></i><div class="text">折價券</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi4"></i><div class="text">我的訂單</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi1"></i><div class="text">帳戶管理</div></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon listi6"></i><div class="text">登出</div></a></li>
                                </ul>

                        </div>
                    </li>

                </ul>
                <a href="javascript:void(0);" target="_blank"><div class="fb"></div></a>
                <a href="javascript:void(0);"><div class="music" id="siteMusic"></div></a>
            </div>
        </div>
        </header>

        <div class="topper">
        <div class="topper-limiter">
            <div class="ad">
                <a href="javascript:void(0);"><img src="http://www.newegg.com.tw/Themes/img/Common/topper-ad3.jpg" alt="入會好禮" title="入會好禮"></a>
                <a href="javascript:void(0);"><img src="http://www.newegg.com.tw/Themes/img/Common/topper-ad2.jpg" alt="美蛋直購館" title="美蛋直購館"></a>
            </div>
            <div class="searchbar">
    		    <form method="get" action="/search">
    		        <input type="text" class="input" id="searchword" name="searchword" size="21" maxlength="120" placeholder="請輸入商品關鍵字">
                    <input type="submit" value=" " class="btn">
    		    </form>
            </div>

            <div class="keyword">
                <ul>
                    <li class="word"><a href="javascript:void(0);">電影破風款</a></li>
                    <li class="word"><a href="javascript:void(0);">獨賣</a></li>
                    <li class="word"><a href="javascript:void(0);">SALE</a></li>
                    <li class="word"><a href="javascript:void(0);">防蚊</a></li>
                    <li class="word"><a href="javascript:void(0);">厚切沙朗</a></li>
                    <li class="word"><a href="javascript:void(0);">運動穿戴</a></li>
                    <li class="word"><a href="javascript:void(0);">asus</a></li>
                </ul>
            </div>
        </div>
    </div>

*/

//header
.header .welcome {
    @include fontSize($defFont - 4);
    line-height: 20px;
    text-indent: 0px;
    letter-spacing: 2px;
    margin-left: 11px;

    color: #F37225;
}

.header .icon a {
    color: #000;
    text-decoration: none;

    &:hover {
    	color: #F37225;
    }
}


.header .icon li {
    text-align: center;
    border-right: thin solid #000;
}

.header .icon li i {
    background: url(#{$img-path}header-icon.png) no-repeat;

    &.listi1 { background-position: 0 0; }
    @for $i from 1 through 5 {
        &.listi#{$i+1} { background-position: 0 (-25 * $i)#{px}; }
    }
}

.header {
    .fb {
        background: url(#{$img-path}fb.png)  no-repeat;
    }

    .music {
        background: url(#{$img-path}music-off.png) no-repeat;
    }
}

.quickMenu ul li {
    a {
        color: #888;
        text-align: center;
    }

    i.icon {
    	background-image:url(#{$img-path}header-icon.png);

        &.listi1 { background-position: 0 0; }
        @for $i from 1 through 4 {
            &.listi#{$i+1} { background-position: 0 (-25 * $i)#{px}; }
        }
    }

    i .num { color:#ec8b54; }

    &+li:after { border-left:1px solid #8b8b8b; }

    //hover & active
    &:hover,
    &.active {
         &,
         &+li,
         &+li:after,
         &:after {
             border-color:#ec8b54;
         }

         @include quickMenuStyle;
         background-color:#ec8b54;

         & > a {
             i.icon {
                 &.listi1 { background-position: -25px 0; }
                 @for $i from 1 through 5 {
                     &.listi#{$i+1} { background-position: -25px (-25 * $i)#{px}; }
                 }
             }

             i .num { color:#fff; }
         }

         &+li:after > a {
             top:0;
             height:70px;
         }




    }

     li {
         &,
         & a {
             @include quickMenuStyle;
         }

         & a { display:block; }

         i {
             display:block;
             margin:0 auto;
         }

         i.icon {
             background-repeat:no-repeat;
             background-position:center top;
         }
     }
}

//header-panel
.header .panel {
	background-color: #fff;

    .icon { text-align: center; }

    .icon a {
    	color: #000;
    	text-decoration: none;

        &:hover { color: #F37225; }
    }


    .icon ul li i {
        background: url(#{$img-path}panel-icon.png) no-repeat;

        &.listi1 { background-position: 0 0; }
        @for $i from 1 through 5 {
            &.listi#{$i+1} { background-position: 0 (-30 * $i)#{px}; }
        }
    }

    .icon ul li .text {
    	color: #000;
    	@include fontSize($defFont - 4);
    }

}

//myAccount dropDown menu
.quickMenu .dropCon {
    background-color: rgba(255, 255, 255, .85);

    @include fontSize($defFont - 4);
    text-align:center;
}

.quickMenu .dropCon > ul > li {
    @include quickMenuStyle;

    & > a {
        @include quickMenuStyle;

        & > i.icon {
            background-image:url(#{$img-path}panel-icon.png);

            &.listi1 { background-position: 0 0; }

            @for $i from 1 through 5 {
                &.listi#{$i+1} { background-position: 0 (-30 * $i)#{px}; }
            }
        }
    }


    &:hover {
        background:#aaa;
        background-color:rgba(160, 160, 160, .7);
    }

    &:hover i.icon {
        &.listi1 { background-position: 0 0; }
        @for $i from 1 through 5 {
            &.listi#{$i+1} { background-position: -30px (-30 * $i)#{px}; }
        }
    }
}



//topper
.topper .searchbar {
    .input, .input2 {
        @include fontSize($defFont - 3);
        color: $font-color;
        border: thin solid #fff;
    }

    .input {
    	padding: 6px 15px;
    	border: thin solid #fff;
        background:#fff;
    }

    .input2 {
        padding: 7px 15px;
        background-color: #F0F0F0;
    }

    .btn {
        cursor: pointer;
        color: #fff;
        border: thin solid $link-color;
        background-image: url(#{$img-path}searchBtn.jpg);
   }
}

//keywords settings
.topper .keyword {
    @include fontSize($defFont - 3);
    word-spacing: 10px;
    letter-spacing: 2px;

    .word {
         text-align:center;
         border-right:1.5px solid #5E5E63;

         &:last-child { border:none; }

         a{
             color:#5E5E63;
             border-bottom:none;

             &:hover { color:#f37225; }
         }
    }
}

.topper {
    a {
       color: #5E5E63;
       text-decoration: none;
    }

    .dropdown {
        @include float(left);
        width: 206px;
        height: 20px;

        background-color: #E6E4E6;
        text-align: center;
        color: #5E5E63;
        font-size: 16px;
    }

    .top,
    .down {
        line-height: 20px;
    	color: #000;
    	text-indent: 0px;
    	text-align: center;
        @include fontSize($defFont + 4);

    }

    .top {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .down {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}


/*
##[pullDown]側邊欄選單模組

    <div class="pullDown">
        <ul class="pullDownList">
                <li class="menulihover">
                    <a href="javascript:void(0);"><i class="storeFashion"></i>國際名品</a>
                    <span></span>
                </li>
                <li class="">
                    <a href="javascript:void(0);"><i class="storeDesign"></i>設計風尚</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeHealth"></i>運動健身</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeOutdoor"></i>戶外休旅</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="store3C"></i>數位3C</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeComputer"></i>電腦週邊</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeappliance"></i>生活家電</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeLiving"></i>居家親子</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeFoods"></i>好食市集</a>
                    <span></span>
                </li>
                <li>
                    <a href="javascript:void(0);"><i class="storeNeweggUSA"></i>美國新蛋直購</a>
                    <span></span>
                </li>
        </ul>
    </div>

    <!-- [子選單模組] -->
    <div class="yMenuListCon">
        <div class="yMenuListConin storeFashion" style="display:block;">
                <h2><a href="javascript:void(0);">國際名品</a></h2>
                <div class="yMenuColLCinList">

                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 【開幕特企】</h3>

                            <p>
                                <a href="javascript:void(0);">【新品優惠】三宅一生BAO BAO限時↘5折起</a>
                                <a href="javascript:void(0);">【獨家優惠➳】Michael Kors限時優惠↘4折起</a>
                                <a href="javascript:void(0);">【下殺折扣】歐系品牌包款↘4.5折起</a>
                                <a href="javascript:void(0);">【開幕慶☞】皮夾特選↘$999起</a>
                            </p>
                        </div>
                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 精品包款</h3>

                            <p>
                                <a href="javascript:void(0);">3.1 Phillip Lim</a>
                                <a href="javascript:void(0);">Balenciaga</a>
                                <a href="javascript:void(0);">BALLY</a>
                                <a href="javascript:void(0);">Bottega Veneta</a>
                                <a href="javascript:void(0);">Burberry</a>
                                <a href="javascript:void(0);">Calvin Klein</a>
                                <a href="javascript:void(0);">Cambridge Satchel</a>
                                <a href="javascript:void(0);">CÉLINE</a>
                                <a href="javascript:void(0);">CHANEL</a>
                                <a href="javascript:void(0);">Chloe</a>
                                <a href="javascript:void(0);">COACH</a>
                                <a href="javascript:void(0);">FENDI</a>
                                <a href="javascript:void(0);">GUCCI</a>
                                <a href="javascript:void(0);">GIVENCHY</a>
                                <a href="javascript:void(0);">HERMÈS</a>
                                <a href="javascript:void(0);">Leghila</a>
                                <a href="javascript:void(0);">Louis Vuitton</a>
                                <a href="javascript:void(0);">LONGCHAMP</a>
                                <a href="javascript:void(0);">Michael Kors</a>
                                <a href="javascript:void(0);">MIU MIU</a>
                                <a href="javascript:void(0);">Moschino</a>
                                <a href="javascript:void(0);">MULBERRY</a>
                                <a href="javascript:void(0);">Proenza Schouler</a>
                                <a href="javascript:void(0);">Prada</a>
                                <a href="javascript:void(0);">REBECCA MINKOFF</a>
                                <a href="javascript:void(0);">Salvatore Ferragamo</a>
                                <a href="javascript:void(0);">TOD'S</a>
                                <a href="javascript:void(0);">Tory Burch</a>
                                <a href="javascript:void(0);">Vivienne Westwood</a>
                                <a href="javascript:void(0);">YSL</a>
                            </p>
                        </div>
                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 時尚腕錶</h3>

                            <p>
                                <a href="javascript:void(0);">Agnes.b</a>
                                <a href="javascript:void(0);">Armani</a>
                                <a href="javascript:void(0);">CITIZEN</a>
                                <a href="javascript:void(0);">CASIO</a>
                                <a href="javascript:void(0);">DKNY</a>
                                <a href="javascript:void(0);">Daniel Wellington</a>
                                <a href="javascript:void(0);">DIESEL</a>
                                <a href="javascript:void(0);">EMPORIO ARMANI</a>
                                <a href="javascript:void(0);">FOSSIL </a>
                                <a href="javascript:void(0);">KOMONO</a>
                                <a href="javascript:void(0);">Kenneth Cole</a>
                                <a href="javascript:void(0);">MICHAEL KORS</a>
                                <a href="javascript:void(0);">MBMJ</a>
                                <a href="javascript:void(0);">Nixon</a>
                                <a href="javascript:void(0);">SWATCH</a>
                                <a href="javascript:void(0);">SKAGEN</a>
                                <a href="javascript:void(0);">SEIKO</a>
                            </p>
                        </div>
                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 香水香氛</h3>

                            <p>
                                <a href="javascript:void(0);">Anna Sui</a>
                                <a href="javascript:void(0);">Abercrombie &amp; Fitch</a>
                                <a href="javascript:void(0);">Adidas</a>
                                <a href="javascript:void(0);">BVLGARI </a>
                                <a href="javascript:void(0);">Chanel</a>
                                <a href="javascript:void(0);">Clive Christian</a>
                                <a href="javascript:void(0);">Chloe</a>
                                <a href="javascript:void(0);">Calvin Klein</a>
                                <a href="javascript:void(0);">Diptyque</a>
                                <a href="javascript:void(0);">Dior </a>
                                <a href="javascript:void(0);">DKNY </a>
                                <a href="javascript:void(0);">Dermalogica 德卡</a>
                                <a href="javascript:void(0);">EVE LOM</a>
                                <a href="javascript:void(0);">Elizabeth Arden</a>
                                <a href="javascript:void(0);">Fresh</a>
                                <a href="javascript:void(0);">GUCCI </a>
                                <a href="javascript:void(0);">Giorgio Armani</a>
                                <a href="javascript:void(0);">Hermes</a>
                                <a href="javascript:void(0);">HERVE GAMBS法國頂級香氛</a>
                                <a href="javascript:void(0);">Jo Malone</a>
                                <a href="javascript:void(0);">Jurlique</a>
                                <a href="javascript:void(0);">KENZO</a>
                                <a href="javascript:void(0);">Kiehl's</a>
                                <a href="javascript:void(0);">LaMer 海洋拉娜</a>
                                <a href="javascript:void(0);"> L'OCCITANE</a>
                                <a href="javascript:void(0);">MONTBLANC</a>
                                <a href="javascript:void(0);">MARC JACOBS</a>
                                <a href="javascript:void(0);">Ralph Lauren</a>
                                <a href="javascript:void(0);">Salvatore Ferragamo</a>
                                <a href="javascript:void(0);">Tom Ford</a>
                                <a href="javascript:void(0);">VERSACE</a>
                                <a href="javascript:void(0);">Vivienne Westwood</a>
                                <a href="javascript:void(0);">YSL </a>
                                <a href="javascript:void(0);">其他</a>
                            </p>
                        </div>
                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 風尚鞋款</h3>

                            <p>
                                <a href="javascript:void(0);">Chiara Ferragni 眨眼鞋</a>
                                <a href="javascript:void(0);">TOMS</a>
                            </p>
                        </div>
                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 飾品配件</h3>

                            <p>
                                <a href="javascript:void(0);">Burberry</a>
                                <a href="javascript:void(0);">Coach</a>
                                <a href="javascript:void(0);">Dogeared</a>
                                <a href="javascript:void(0);">DAKS</a>
                                <a href="javascript:void(0);">Forever21</a>
                                <a href="javascript:void(0);">GUCCI</a>
                                <a href="javascript:void(0);">Gorjana</a>
                                <a href="javascript:void(0);">Les Nereides</a>
                                <a href="javascript:void(0);">La Mer Collections</a>
                                <a href="javascript:void(0);">Michael Kors</a>
                                <a href="javascript:void(0);">Pandora</a>
                                <a href="javascript:void(0);">Tiffany&amp;Co</a>
                                <a href="javascript:void(0);">VITA FEDE</a>
                                <a href="javascript:void(0);">Vivienne Westwood</a>
                            </p>
                        </div>
                        <div class="yMenuLCinList" style="display:block;">
                        <h3>| 新銳眼鏡</h3>

                            <p>
                                <a href="javascript:void(0);">COACH</a>
                                <a href="javascript:void(0);">FENDI </a>
                                <a href="javascript:void(0);">GUCCI </a>
                                <a href="javascript:void(0);">MARC BY MARC JACOBS</a>
                                <a href="javascript:void(0);">Ray Ban</a>
                                <a href="javascript:void(0);">YSL(Saint Laurent Paris) </a>
                            </p>
                        </div>
                </div>
            </div>
    </div>
    <!-- [子選單模組結束] -->

    <div class="banner-ad2" name="advBannerTopLeft" data-url="/AdvEvent/Partial_AdvLeftTopBanner">
        <a href="javascript:void(0);" target="_blank"><img src="http://placehold.it/206x36"></a>
    </div>
*/

.pullDown .pullDownList {
    background-color: #e6e4e7;

    li {
        line-height: 50px;

        & > a {
            display:block;
        	border-bottom:0;

        	color: #5E5E63;
            @include fontSize($defFont + 4);
        	text-decoration: none;
        }

        i {
            margin-left: 20px;
            -webkit-transition: margin-left .2s linear;
            -moz-transition: margin-left .2s linear;
            -o-transition: margin-left .2s linear;

            background:url(#{$img-path}nav-icon.png) no-repeat;

            //設計風尚
            &.storeClothing { background-position: 0 0; }
            //國際精品
            &.storeFashion { background-position: 0 -25px; }
            //家電用品
            &.storeappliance { background-position: 0 -50px; }
            //居家生活
            &.storeLiving { background-position: 0 -75px; }
            //運動健身
            &.storeHealth { background-position: 0 -100px; }
            //戶外休旅
            &.storeOutdoor { background-position: 0 -125px; }
            //電腦周邊
            &.storeComputer { background-position: 0 -150px; }
            //數位3C
            &.store3C { background-position: 0 -175px; }
            //好食市集
            &.storeFoods { background-position: 0 -200px; }
            //美蛋直購
            &.storeNeweggUSA { background-position: 0 -225px; }
        }


        //hover & menulihover class settings
        &:hover,
        &.menulihover {
            background: #eda16f;

            a { color: #fff; }

            i {
                margin-left:30px; //側邊選單效果位移度

                &.storeClothing { background-position: -25px 0; }
                &.storeFashion { background-position: -25px -25px; }
                &.storeappliance { background-position: -25px -50px; }
                &.storeLiving { background-position: -25px -75px; }
                &.storeHealth { background-position: -25px -100px; }
                &.storeOutdoor { background-position: -25px -125px; }
                &.storeComputer { background-position: -25px -150px; }
                &.store3C { background-position: -25px -175px; }
                &.storeFoods { background-position: -25px -200px; }
                &.storeNeweggUSA { background-position: -25px -225px; }
            }

            span {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 0 15px 22px;
                border-color: transparent transparent transparent #eda16f;

            }

        }

    }
}

//子選單模組樣式設計
.yMenuListConin {
    background:#fff;
	background: rgba(255,255,255,.95);

    h2,
    h2 a {
        @include fontSize($defFont + 8);
        text-decoration:underline;
        border-bottom:0;
    }



    .yMenuLCinList h3 {
        color: #233223;
        @include fontSize($defFont + 1);
    	font-weight: bold;
    }

    .yMenuColLCinList p {
        color: #656565;
        @include fontSize($defFont - 2);

        a {
            border-right: thin solid #656565;
            border-bottom:0;


            color: #7f7e7e;
            text-decoration: none;

            &:hover {
                color: #eda16f;
                text-decoration: underline;
            }
        }

    }

}

//子選單color styles
.yMenuListCon .yMenuListConin {
    @each $cate in $cates-name {
        $i: index($cates-name, $cate);
        $color: nth($color-light-list, $i);
        &.store#{$cate} h2 a { color:$color; }
    }
}

/*##[pullDown]側邊欄選單模組-下拉樣式
    <div class="mainMenuBox" style="margin-left: 0;">
            <div class="menudropDown">全館分類</div>
            <div id="mainMenu" class="mainMenu pullDown" style="display: block;">
                <ul class="pullDownList">
                        <li>
                            <a href="javascript:void(0);"><i class="storeFashion"></i>國際名品</a>
                            <span></span>
                        </li>
                        <li class="">
                            <a href="javascript:void(0);"><i class="storeDesign"></i>設計風尚</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeHealth"></i>運動健身</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeOutdoor"></i>戶外休旅</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="store3C"></i>數位3C</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeComputer"></i>電腦週邊</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeappliance"></i>生活家電</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeLiving"></i>居家親子</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeFoods"></i>好食市集</a>
                            <span></span>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="storeNeweggUSA"></i>美國新蛋直購</a>
                            <span></span>
                        </li>
                </ul>
            </div>
    </div>
*/

.mainMenuBox {
    position: relative;
    margin-left: -58.5px;
    width: 206px;
    height: 25px;
}

.menudropDown {
    position: relative;
    z-index: 9;
    padding: 5px 0;
    width: 206px;
    height: 25px;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    background: url(#{$img-path}Icon/arrowUpDown.png) #d2d2d2 150px 11px no-repeat;

    letter-spacing: 2px;
    line-height: 26px;
    text-align: center;
    color: $font-color;
    cursor: pointer;

    &:hover {
        color:#fff;
    }
}

#mainMenu {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 100;
}
