/*#[PageNums]頁碼

    <div class="pagination PageArea">
        <span class="arrow arrLeft prev" onclick="NextPage(null, 0, 1, null)">&lt;</span>
        <span class="GoToPage" data-pagevalue="1">1</span>
        <span class="SelectThePage" style="color:#EB8A51" data-pagevalue="2">2</span>
        <span class="GoToPage" data-pagevalue="3">3</span>
        <span class="GoToPage" data-pagevalue="4">4</span>
        <span class="arrow arrRight next">&gt;</span>
    </div>
*/

.PageArea{
	@include float(left);
	position: relative;
	width: 100%;
	height: auto;
	margin-top:30px;

	@include fontSize($defFont + 8);
	text-align:center;
	@include pie-clearfix;

	a,
	span {
		padding:0 5px;
		vertical-align:middle;
		color:$font-color;
		@include transition(100);
		cursor:pointer;
		border-bottom:0;

		&:hover {
			background:#f78d51;
			color:#fff;
			border-bottom:0;
		}
		&.SelectThePage, &.StopGoToPage {
			background:none;
			color:#eb8a51;
			cursor:default;
		}
		&.default {
			background:#fff;
			color:$font-color;
			cursor:text;
		}
	}

	.arrow {
		position:relative;
		vertical-align:middle;
		padding:15px;
		padding:29px 15px 0 15px \9;
		vertical-align:baseline \9;
		bottom: -9px \9;
		color:#fff;
		background-image:url(#{$img-path}Icon/arrowPageArea.png);
		text-indent:-9999px;
		letter-spacing:-9999px;
		font-size:0;

		&:hover {
			background-image:url(#{$img-path}Icon/arrowPageArea-hover.png);
		}
		&.arrLeft{
			left:-25px;
			background-position:0 0;
		}
		&.arrRight{
			right:-25px;
			background-position:0 -50px;
		}
	}
}
